<div class="container-fluid p-0 dim--wrapper">
  <div class="row" data-aos="fade-up" data-aos-duration="500">
    <div class="col-12 head--sec">
      <h4 class="text-secondary fw-bold">Data Import & Management</h4>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data Import</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex flex-column flex-sm-row gap-2 gap-sm-4"  data-aos="fade-up" data-aos-duration="800">
      <div class="card p-3 p-sm-4 mb-4 sut--section w-100">
        <div class="row">
          <div class="col-12 d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-between mb-4">
            <div class="d-flex flex-column">
              <h5 class="font-15 fw-semibold text-secondary mb-1">Select Upload Type</h5>
              <p class="clr--7373 font-13 mb-0 ">Choose the type of data you want to import</p>
            </div>
            <button type="button" class="btn btn-lg btn-outline-primary mt-2 mt-sm-0">
              <i class="icon icon--download"></i>
              Download Sample CSV
            </button>
          </div>
          <div class="col-12 col-lg-6" *ngFor="let qadata of qacards; let i = index">
            <a class="d-flex flex-row align-items-start card w-100" [ngClass]="{ 'active': selectedIndex === i }"
              (click)="setActive(i)">
              <div class="d-flex align-items-center justify-content-center qa--box flex-shrink-0">
                <img [src]="qadata.icon" alt="icon" class="img-fluid">
              </div>
              <div class="d-flex flex-column">
                <h4 class="text-primary mb-1 font-15 fw-semibold">{{qadata.title}}</h4>
                <p class="mb-0 font-13">{{qadata.description}}</p>
              </div>
            </a>
          </div>

        </div>
      </div>
      <div class="card p-3 p-sm-4 mb-4 ig--sec">
        <div class="row">
          <div class="col-12 mb-4">
            <h5 class="font-15 fw-semibold text-secondary mb-0">Import Guidelines</h5>
          </div>
          <div class="col-12">
            <ul class="m-0 p-0">
              @for (item of guidelines; track item) {
              <li class="d-flex align-items-center font-13 mb-2 mb-sm-3">
                <mat-icon fontSet="material-icons-outlined" class="text-primary me-2 flex-shrink-0">
                  check_circle
                </mat-icon>
                {{ item }}
              </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex flex-column flex-sm-row gap-2 gap-sm-4"  data-aos="fade-up" data-aos-duration="1000">
      <div class="card p-3 p-sm-4 mb-4 w-100">
        <div class="row">
          <div class="col-12 mb-4">
            <h5 class="font-15 fw-semibold text-secondary mb-1">Upload File</h5>
            <p class="clr--7373 font-13 mb-0 ">Upload CSV or Excel file for import</p>
          </div>
          <div class="col-12  mb-3">
            <label class="form-label">Select File</label>
            <input class="form-control form-control-md" type="file" id="formFile">
          </div>
          <div class="col-12  mb-3">
            <label class="form-label">Data Period</label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select placeholder="Q2 2024">
                <mat-option value="1">Q3 2024</mat-option>
                <mat-option value="2">Q4 2024 </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="text-danger font-13">File have missing fields!</div>
          <div class="col-12">
            <button type="button" class="btn btn-md btn-primary w-100 mt-3">
              <img src="images/upload-white.svg" alt="img" class="me-2">
              Upload & Process
            </button>
          </div>

        </div>
      </div>
      <div class="card p-3 p-sm-4 mb-4 ig--sec">
        <div class="row">
          <div class="col-12 mb-4">
            <h5 class="font-15 fw-semibold text-secondary mb-0">Download Templates</h5>
          </div>
          <div class="col-12">
            <ul class="m-0 p-0 templates">
              @for (item of templates; track item) {
              <li>
                <a class="d-flex align-items-center font-11 fw-semibold mb-2 ">
                  <img src="images/download-black.svg" alt="img" class="me-2">
                  {{ item }}
                </a>
              </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" data-aos="fade-up" data-aos-duration="1200">
    <div class="col-12">
      <div class="card p-3 p-sm-4 mb-4 w-100">
        <div class="row">
          <div class="col-12 mb-4">
            <h5 class="font-15 fw-semibold text-secondary mb-1">Recent Imports</h5>
            <p class="clr--7373 font-13 mb-0 ">View upload history and status</p>
          </div>
          <div class="col-12 d-flex flex-wrap gap-1 gap-sm-3 ri--section">
            @for (item of records; track item) { 
            <div class="card p-2 p-sm-3 mb-2 ri--box d-flex align-items-start flex-row"> 
              <div class="ri--indicator d-flex align-items-center justify-content-center flex-shrink-0 me-2 me-sm-3">
                <mat-icon class="text-primary" fontSet="material-icons-outlined">
                  check_circle
                </mat-icon>
              </div> 
              <div class="w-100 d-flex flex-column flex-sm-row align-items-start justify-content-between"> 
                <div class="d-flex flex-column me-2">
                  <h6 class="m-0 font-14 fw-semibold wb-ba">{{ item.fileName }}</h6>
                  <p class="m-0 font-13 scores">{{ item.description }}</p>
                </div> 
                <div class="d-flex flex-column flex-shrink-0">
                  <div class="strips mb-1 mt-1 mt-sm-0">{{ item.status }}</div>
                  <p class="m-0 font-11 date">{{ item.date }}</p>
                </div> 
              </div> 
            </div> 
            }
          </div>

        </div>
      </div>
    </div>
  </div>


</div>
