@use '../abstracts/variables' as v;

body{
    .btn {
        border-radius: 0.375rem; 
        font-weight: 600;
        padding: 0.495rem 1.125rem;
        font-size: 0.925rem;
        &.btn-md{
            font-size: 0.825rem;
            padding: 0.445rem 0.9rem;
            display: flex;
            align-items: center;
            .mat-icon{
                font-size: 16px;
                width: 16px;
                height: 16px;
                margin-right: 5px;
            }
        }

        &.btn-light{
            background-color: #F8F9FA;
        }
        &.btn-primary{
            background-color: v.$primary;
            &:hover{
                background-color: v.$black;
            }
            &:disabled{
                background-color: v.$primary;
                opacity: 0.5;
                border-color: v.$primary;
            }
        }
        &.btn-outline-primary{
            border-color: v.$black;
            color: v.$black;
            .mat-icon{
                color: v.$black !important;
            }
            &:hover{
                background-color: #f0ebeb;
            }
        }

        
    }
}
 @media (max-width: 767px) {
    .btn {
        font-size: 0.875rem !important;
        padding: 0.4rem 0.6rem !important;
    } 
 }