/* =====================================================
   Dashboard Wrapper
===================================================== */
.d--dashboard--wrapper {



  /* ==========================================
     Filters Section
  ========================================== */
  .filters-section {

    .card {
      margin-bottom: 0;
      gap: 16px;
      border: 1px solid #E2E8F0;
      border-radius: 12px;

      .divider-line {
        border: 1px solid #F1F5F9;
      }

      .active-filter-chip {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        padding: 6px 12px;
        border: 1px solid #BFDBFE;
        border-radius: 6px;
        background: #EFF6FF;
        color: #0D2A7C; 
        .chip-label,
        .chip-value {
          color: #0D2A7C;
        } 
        .chip-close {
          width: 16px;
          height: 16px;
          font-size: 16px;
          cursor: pointer;
          color: #0D2A7C;
          transition: color .25s ease;

          &:hover {
            color: #0f172a;
          }
        }
      }
      .toggle-container{
        &.filter--toggle{
          border: none; 
          border-radius: 12px;
          background: #F8FAFC;
          padding: 4px;
          ::ng-deep{
            .mat-button-toggle{
              background: transparent;
              &.mat-button-toggle-checked{
                border-radius: 8px;
                background: #FFF;
                box-shadow: 0 1px 2px 0 #DBEAFE; 
                .toggle-label{
                  color: #0D2A7C;
                }
                .toggle-badge{
                  background-color: #0D2A7C;
                  color: #FFF;
                }
              }
            }
          }
        }
      }
    }
  }


  /* ==========================================
     School Performance Overview
  ========================================== */
.custom-table-wrapper {
  overflow-x: auto;
  border-radius: 12px;
  border: 1px solid #E5E7EB;
}

.school-performance-table {
  min-width: 1280px;
  background: #fff;
  thead {
      th {
      background: #F8FAFC;
      color: #737373;
      font-size: 13px;
      font-weight: 600;
      border-left: 1px solid #D1D1D1;
      border-bottom: 1px solid #D1D1D1;
      white-space: nowrap;
      vertical-align: middle;
      &.border-one{
        border-left: 1px solid #D1D1D1 !important;
      }
      &:first-child{
        border-left: none;
      }
    }
  } 
  tbody {
    td {
      vertical-align: middle;
      border-bottom: 1px solid #EEF2F7;
      white-space: nowrap;
      text-align: center;
    }
  }

  /* FIXED LEFT COLUMN */
  .sticky-left {
    position: sticky;
    left: 0;
    z-index: 3;
    background: #fff;
    text-align: left;
  }

  /* FIXED RIGHT COLUMN */
  .sticky-right {
    position: sticky;
    right: 0;
    z-index: 3;
    background: #fff;
  }

  /* COLUMN WIDTHS */
  .school-col {
    width: 235px;
    text-align: left !important;
  }

  .total-col {
    width: 125px;
  }

  /* SCORE BADGES */
  .score {
    min-width: 42px;
    height: 30px;
    border-radius: 8px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 13px;
    font-weight: 600;
  }

  .score.green {
    background: #E8F5E9;
    color: #4CAF50;
  }

  .score.red {
    background: #FFF1F2;
    color: #D64550;
  }

  /* TOTAL SCORE */
  .total-score {
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    padding: 1px 5px;  
    border-radius: 6px;
    border: 1px solid #A7F3D0;
    background: #ECFDF5;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10); 
    color: #90C955; 
    font-weight: 600;
    font-size: 12px;
  }

}





  /* ==========================================
     ESSA Performance by Demographic
  ========================================== */

  .essa--perform--wrapper{
    .essa-table{
      border-radius: 0;
      .table {
        thead{
          tr{
            th{
              background: rgba(248, 250, 252, 0.50);
              font-size: 11px;
              text-transform: uppercase;
              .dd--sm{
                width: 100px;
                ::ng-deep{
                  .mat-mdc-notch-piece {
                      border-color: transparent !important;
                  }
                }
              }
            }
            &.sub-header{
              th{
                &:last-child,
                &:nth-last-child(2),
                &:nth-last-child(3){
                  width: 80px;
                } 
              }
            }
          }
        }
        tbody{
          tr{
             &:nth-child(even){
                td{
                  background: #F7FAFF;
                }
              }
            td{
                  padding: 19px 10px; 
            }
          }
        }
      }
    }
  }

  /* ==========================================
     Performance Matrix Section
  ========================================== */
  .performance-matrix-section { 
    .card {
      gap: 13px;
      padding: 24px;
      border: 1px solid #DBEAFE;
      border-radius: 16px;
      background: #fff; 
      .marker {
        width: 1rem;
        height: 1rem;
        border-radius: 4px;

        &.green { background: #90C955; }
        &.yellow { background: #DCE52A; }
        &.red { background: #D64550; }
      }

      .table-filters-section {
        padding: 16px;
        border: 1px solid #DBEAFE;
        border-radius: 16px;
        background: #fff;
      }

      .performance-table { 
        .table {
          min-width: 750px;

          thead {
            th { 
              &:first-child {
                width: 20%;
              } 
              .blue-title {
                width: fit-content;
                padding: 4px 12px;
                border-radius: 9999px;
                background: #1E40AF;
              }
            }
          }

          tbody {
            tr{
              vertical-align: middle;
              td { 
                .bg-highlight {
                  display: inline-flex;
                  padding: .25rem 1rem;
                  border-radius: 9999px;
                  font-weight: 600; 
                  &.green-bg {
                    background: #DCFCE7;
                    color: #15803D;
                  } 
                  &.yellow-bg {
                    background: #FEF3C7;
                    color: #B45309;
                  } 
                  &.red-bg {
                    background: #FEE2E2;
                    color: #D64550;
                  }
                }
                .progress {
                  height: 20px;
                  .progress-bar{
                    font-weight: 700;
                    color: #fff;
                    &.bg-success{
                        background-color: #90C955 !important;
                    }
                    &.bg-warning{
                        background-color: #DCE52A;
                        color: #000
                    }
                    &.bg-danger{
                        background-color: #D64550;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /* ==========================================
     Goal Achievement Summary
  ========================================== */
  .gas--wrapper{ 
    .goals--track{
      border-bottom: 0.5px solid #F1F5F9;
      .side--box{
        &.track{ 
          background: #EFF6FF;
        }
        &.risk{
          background: #FFFBEB;
        }
        &.complete{
          background: #ECFDF5;
        }
      }
      .progress{
        height: 8px;
        .bg-orange{
          background-color: #EA914E;
        }
      }
    }  
  }

  .side--box{
    border-radius: 12px;
    background: #EDE9FE;
    width: 36px;
    height: 36px; 
  }
  .default--round{
    width: 40px;
    height: 40px;
    background: #E2E8F0;
  }

  .ars--wrapper{
    .red--head{
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      border-top: 4px solid #EF4444;
      padding-top: 24px;
      padding-bottom: 16px; 
      background-color: #fff;
      .side--box{
        background-color: #FEE2E2;
      }
    }
    .risk--card{
      border-radius: 12px;
      border: 1px solid #FECACA;
      background: #FEF2F2;
      box-shadow: 0 3.875px 5.813px -0.969px rgba(0, 0, 0, 0.10), 0 1.938px 3.875px -1.938px rgba(0, 0, 0, 0.10);
      padding: 16px;
      .score--box{
        padding: 10px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.60);
        height: stretch;
        .count{
          color: #D64550;
          font-size: 18px;
          font-weight: 700;          
        }
      }
      .action--foo{
        border-top: 0.667px solid rgba(226, 232, 240, 0.50);
        padding-top: 16px;
            margin-top: 20px;
      }

      &.medium--risk--card{ 
          border: 1px solid #FDE68A;
          background: #FFFBEB;
          .score--box{
            .count{
              color: #000;
            }
          }
      }
    }

  }

}

/* =====================================================
   Angular Material Overrides
===================================================== */
 
.mat-button-toggle + .mat-button-toggle {
  border-left: none !important;
}

/* remove focus overlay */
.mat-button-toggle-focus-overlay {
  display: none;
}

/* Angular Material deep overrides */
::ng-deep {

  .mat-pseudo-checkbox {
    display: none !important;
  }

  .mat-button-toggle-checked .mat-button-toggle-button:has(.mat-button-toggle-checkbox-wrapper) {
    padding-left: 0 !important;
  }

  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    padding: 0 !important;
    line-height: 20px !important;
  }

  .mat-mdc-form-field {

    .mat-mdc-select-placeholder,
    .mat-mdc-select-value {
      color: #0A0A0A !important;
      font-size: 12px !important;
    }
  }
}


@media (max-width: 767px) {
  .d--dashboard--wrapper .school-performance-table .sticky-right,
  .d--dashboard--wrapper .school-performance-table .sticky-left{
    position: relative;
  }
}