<div class="container-fluid p-0 d--dashboard--wrapper" data-aos="fade-up" data-aos-duration="500">
  <div class="row">
    <app-district-performance-summary></app-district-performance-summary>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card p-3">
        <div class="row">
          <div class="col-12 filters-section ">
            <div class="card p-3 d-flex flex-row flex-wrap align-items-center justify-content-between gap-2">
              <mat-button-toggle-group [value]="viewMode()" (change)="viewMode.set($event.value)"
                class="toggle-container filter--toggle">
                <mat-button-toggle value="all">
                  <div class="toggle-content">
                    <span class="toggle-label">All Schools</span>
                    <span class="toggle-badge">25</span>
                  </div>
                </mat-button-toggle>
                <mat-button-toggle value="elementary">
                  <div class="toggle-content">
                    <span class="toggle-label">Elementary</span>
                    <span class="toggle-badge">12</span>
                  </div>
                </mat-button-toggle>
                <mat-button-toggle value="middle">
                  <div class="toggle-content">
                    <span class="toggle-label">Middle</span>
                    <span class="toggle-badge">7</span>
                  </div>
                </mat-button-toggle>
                <mat-button-toggle value="high">
                  <div class="toggle-content">
                    <span class="toggle-label">High School</span>
                    <span class="toggle-badge">6</span>
                  </div>
                </mat-button-toggle>
              </mat-button-toggle-group>
              <div class="d-flex flex-shrink-0">
                <button type="button" class="btn btn-md btn-outline-primary" (click)="toggleFilters()">
                  <img src="images/filters-icon.svg" alt="icon" class="img-fluid">
                </button>
              </div>
            </div>
          </div>
          <div class="col-12 filters-section my-3" *ngIf="showFilters">
            <div class="card p-3 p-sm-4 d-flex flex-column gap-3">
              <div class="d-flex flex-wrap gap-3 align-items-center">
                <div class="d-flex align-items-center gap-2">
                  <img src="images/filters-icon.svg" alt="icon" class="img-fluid">
                  <p class="clr--64748B font-13 fw-semibold mb-0">Filters:</p>
                </div>
                <mat-form-field appearance="outline" class="dd--sm sm--width">
                  <mat-select placeholder="Grade Level" [(value)]="selectedFilters.grade"
                    (selectionChange)="updateActiveFilters()">
                    <mat-option *ngFor="let grade of gradeOptions" [value]="grade">
                      {{ grade }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="dd--sm sm--width">
                  <mat-select placeholder="All Status" [(value)]="selectedFilters.status"
                    (selectionChange)="updateActiveFilters()">
                    <mat-option *ngFor="let status of statusOptions" [value]="status">
                      {{ status }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="dd--sm sm--width">
                  <mat-select placeholder="Overall Score" [(value)]="selectedFilters.score"
                    (selectionChange)="updateActiveFilters()">
                    <mat-option *ngFor="let score of scoreOptions" [value]="score">
                      {{ score }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="dd--sm sm--width">
                  <mat-select placeholder="All Tiers" [(value)]="selectedFilters.tier"
                    (selectionChange)="updateActiveFilters()">
                    <mat-option *ngFor="let tier of tierOptions" [value]="tier">
                      {{ tier }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button type="button" class="btn btn-sm btn-primary flex-shrink-0" (click)="resetFilters()">
                  Reset Filters
                </button>
              </div>
              <div class="divider-line"></div>
              <div class="d-flex flex-wrap align-items-center gap-2">
                <p class="clr--64748B font-13 fw-semibold mb-0">Active Filters:</p>
                <ng-container>
                  <div class="active-filter-chip">
                    <span class="chip-label font-12 fw-semibold">Grade</span>
                    <span class="chip-value font-13 fw-semibold">5</span>
                    <mat-icon class="chip-close" fontSet="material-icons-outlined">
                      close
                    </mat-icon>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 performance-matrix-section mt-3">
      <div class="card p-3 p-sm-4 d-flex flex-column mb-0">
        <div class="d-flex flex-sm-row flex-column align-items-sm-center justify-content-sm-between gap-2">
          <div class="d-flex flex-column gap-1">
            <h5 class="font-15 text-secondary fw-semibold mb-0">Performance Matrix</h5>
            <p class="clr--64748B font-13 fw-normal mb-0">Compare metrics across elementary, middle, and high schools
            </p>
          </div>
          <div class="d-flex flex-sm-row flex-wrap flex-column align-items-sm-center gap-2">
            <div class="d-flex flex-row align-items-center gap-2">
              <span class="marker green"></span>
              <p class="font-11 clr--4755 fw-normal mb-0">Above Goal</p>
            </div>
            <div class="d-flex flex-row align-items-center gap-2">
              <span class="marker yellow"></span>
              <p class="font-11 clr--4755 fw-normal mb-0">Within 3 pts</p>
            </div>
            <div class="d-flex flex-row align-items-center gap-2">
              <span class="marker red"></span>
              <p class="font-11 clr--4755 fw-normal mb-0">More than +5%</p>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row flex-wrap  justify-content-between table-filters-section">
          <div class="row">
            <div class="col-12">
              <div class="row gap-2 gap-sm-0">
                <div class="col-12 col-lg-2">
                  <mat-form-field appearance="outline" class="dd--sm w-100">
                    <mat-select placeholder="All Demographics">
                      <mat-option value="1">Demographic 10</mat-option>
                      <mat-option value="2">Demographic 11 </mat-option>
                      <mat-option value="2">Demographic 12 </mat-option>
                      <mat-option value="2">Demographic 13 </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-12 col-lg-2">
                  <mat-form-field appearance="outline" class="dd--sm w-100">
                    <mat-select placeholder="All Grades">
                      <mat-option value="1">Grade 10</mat-option>
                      <mat-option value="2">Grade 11 </mat-option>
                      <mat-option value="2">Grade 12 </mat-option>
                      <mat-option value="2">Grade 13 </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-12 col-lg-2">
                  <mat-form-field appearance="outline" class="dd--sm w-100">
                    <mat-select placeholder="All Students">
                      <mat-option value="1">Student 1</mat-option>
                      <mat-option value="2">Student 2</mat-option>
                      <mat-option value="3">Student 3</mat-option>
                      <mat-option value="4">Student 4</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-12 col-lg-2">
                  <mat-form-field appearance="outline" class="dd--sm w-100">
                    <mat-select placeholder="All Schools">
                      <mat-option value="1">School 1</mat-option>
                      <mat-option value="2">School 2</mat-option>
                      <mat-option value="3">School 3</mat-option>
                      <mat-option value="4">School 4</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-12 col-lg-2">
                  <mat-form-field appearance="outline" class="dd--sm w-100">
                    <mat-icon matPrefix class="filter-icon" fontSet="material-icons-outlined">filter_alt</mat-icon>
                    <mat-select placeholder="All Subjects">
                      <mat-option value="1">Subject 1</mat-option>
                      <mat-option value="2">Subject 2</mat-option>
                      <mat-option value="3">Subject 3</mat-option>
                      <mat-option value="4">Subject 4</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="table-responsive performance-table" #performanceSection>
          <table class="table table-custom table-centered m-0">
            <thead class="thead-sm">
              <tr class="text-uppercase">
                <th class="font-14 fw-bold text-uppercase">Component</th>
                <th class="text-center">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="blue-title font-11 fw-semibold text-white">Elementary</div>
                  </div>
                </th>
                <th class="text-center">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="blue-title font-11 fw-semibold text-white">Middle</div>
                  </div>
                </th>
                <th class="text-center">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="blue-title font-11 fw-semibold text-white">High</div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of performanceMatrixtable">
                <td class="clr--111827 fw-semibold">{{ row.component }}</td>
                <td class="text-center">
                  <div class="bg-highlight" [ngClass]="getStatusClass(row.elementary)">
                    {{ row.elementary }}
                  </div>
                  <div class="progress mt-2">
                    <div class="progress-bar bg-success" [style.width.%]="progressAnimated ? row.progress.success : 0">
                      {{ row.progress.success }}%
                    </div>

                    <div class="progress-bar bg-warning text-dark"
                      [style.width.%]="progressAnimated ? row.progress.warning : 0">
                      {{ row.progress.warning }}%
                    </div>

                    <div class="progress-bar bg-danger" [style.width.%]="progressAnimated ? row.progress.danger : 0">
                      {{ row.progress.danger }}%
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <div class="bg-highlight" [ngClass]="getStatusClass(row.middleSchool)">
                    {{ row.middleSchool }}
                  </div>
                  <div class="progress mt-2">
                    <div class="progress-bar bg-success" [style.width.%]="progressAnimated ? row.progress.success : 0">
                      {{ row.progress.success }}%
                    </div>

                    <div class="progress-bar bg-warning text-dark"
                      [style.width.%]="progressAnimated ? row.progress.warning : 0">
                      {{ row.progress.warning }}%
                    </div>

                    <div class="progress-bar bg-danger" [style.width.%]="progressAnimated ? row.progress.danger : 0">
                      {{ row.progress.danger }}%
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <div class="bg-highlight" [ngClass]="getStatusClass(row.highSchool)">
                    {{ row.highSchool }}
                  </div>
                  <div class="progress mt-2">
                    <div class="progress-bar bg-success" [style.width.%]="progressAnimated ? row.progress.success : 0">
                      {{ row.progress.success }}%
                    </div>

                    <div class="progress-bar bg-warning text-dark"
                      [style.width.%]="progressAnimated ? row.progress.warning : 0">
                      {{ row.progress.warning }}%
                    </div>

                    <div class="progress-bar bg-danger" [style.width.%]="progressAnimated ? row.progress.danger : 0">
                      {{ row.progress.danger }}%
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- School Performance Overview -->
  <div class="row mt-4 spo--wrapper">
    <div class="col-12 col-lg-9">
      <div class="card w-100 p-3">
        <div class="d-flex flex-column flex-sm-row justify-content-between">
          <div class="d-flex align-items-center">
            <img src="images/graph-blue.svg" alt="icon" class="img-fluid me-2">
            <h5 class="m-0 font-16 fw-semibold">School Performance Overview</h5>
          </div>
          <p class="m-0 clr--64748B font-13">6 schools</p>
        </div>
        <div class="d-flex flex-column flex-sm-row align-items-center gap-2 gap-sm-4 my-3">
          <mat-form-field appearance="outline" class="dd--sm w-100">
            <mat-select placeholder="All Demographics">
              <mat-option value="1">Demographics 1</mat-option>
              <mat-option value="2">Demographics 2</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="dd--sm w-100 ">
            <mat-select placeholder="All Grades">
              <mat-option value="1">Grades 1</mat-option>
              <mat-option value="2">Grades 2</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="dd--sm w-100">
            <mat-select placeholder="All Students">
              <mat-option value="1">Students 1</mat-option>
              <mat-option value="2">Students 2</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="dd--sm w-100">
            <mat-select placeholder="All Schools">
              <mat-option value="1">Schools 1</mat-option>
              <mat-option value="2">Schools 2</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="dd--sm w-100">
            <mat-select placeholder="Subjects (8)">
              <mat-option value="1">All Subjects 1</mat-option>
              <mat-option value="2">All Subjects 2</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="table-responsive custom-table-wrapper">
          <table class="table align-middle school-performance-table mb-0">
            <thead>
              <tr>
                <!-- FIXED LEFT -->
                <th rowspan="2" class="sticky-left school-col">
                  School Name
                </th>
                <th colspan="3" class="text-center">ELA</th>
                <th colspan="3" class="text-center">Math</th>
                <th class="text-center">Science</th>
                <th class="text-center">SS</th>
                <th class="text-center">MS ACC</th>
                <th class="text-center">HS CCA</th>
                <th class="text-center">GRAD</th>
                <!-- FIXED RIGHT -->
                <th rowspan="2" class="sticky-right total-col text-center">
                  Total Points
                </th>
              </tr>
              <tr>
                <th class="text-center border-one">ACH %</th>
                <th class="text-center">LG %</th>
                <th class="text-center">BQ %</th>
                <th class="text-center">ACH %</th>
                <th class="text-center">LG %</th>
                <th class="text-center">BQ %</th>
                <th class="text-center">ACH %</th>
                <th class="text-center">ACH %</th>
                <th class="text-center">ACH %</th>
                <th class="text-center">ACH %</th>
                <th class="text-center">ACH %</th>
              </tr>
            </thead>

            <tbody>

              <tr *ngFor="let school of schoolTableData">
                <!-- FIXED LEFT -->
                <td class="sticky-left school-col">
                  <div class="fw-semibold text-dark">
                    {{ school.name }}
                  </div>
                  <div class="small text-muted d-flex align-items-center gap-2 mt-1">
                    <span>{{ school.students }}</span>
                    <span>•</span>
                    <span>{{ school.grade }}</span>
                    <span *ngIf="school.atRisk" class="badge border border-danger text-danger bg-white">
                      At risk
                    </span>
                  </div>
                </td>
                <!-- ELA -->
                <td><span class="score green">{{ school.elaAch }}</span></td>
                <td><span class="score green">{{ school.elaLg }}</span></td>
                <td><span class="score red">{{ school.elaBq }}</span></td>
                <!-- MATH -->
                <td><span class="score green">{{ school.mathAch }}</span></td>
                <td><span class="score green">{{ school.mathLg }}</span></td>
                <td><span class="score red">{{ school.mathBq }}</span></td>
                <!-- SCIENCE -->
                <td><span class="score green">{{ school.science }}</span></td>
                <!-- SS -->
                <td>
                  @if(school.ss){
                  <span class="score green">
                    {{ school.ss }}
                  </span>
                  }
                </td>
                <td>
                  @if (school.msAcc) {
                  <span class="score green">
                    {{ school.msAcc }}
                  </span>
                  }
                </td>
                <td>
                  @if (school.hsCca) {
                  <span class="score green">
                    {{ school.hsCca }}
                  </span>
                  }
                </td>
                <td>
                  @if(school.grad){
                  <span class="score green">
                    {{ school.grad }}
                  </span>
                  }
                </td>
                <!-- FIXED RIGHT -->
                <td class="sticky-right total-col text-center">
                  <div class="total-score me-2">
                    {{ school.totalPoints }}
                  </div>
                  <a>
                    <img src="images/right-grey-arrow.svg" alt="icon">
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="card w-100 p-3">
        <div class="d-flex align-items-center mb-3">
          <div class="d-flex align-items-center justify-content-center side--box flex-shrink-0 me-3">
            <img src="images/upwards-green.svg" alt="icon" class="img-fluid">
          </div>
          <h5 class="m-0 font-16 fw-semibold">Franklin High School</h5>
        </div>
        <div class="chart-scroll-wrapper" #chartSection>
          <div class="chart-container">
            <apx-chart #elaChart [series]="chartOptions12.series" [chart]="chartOptions12.chart"
              [xaxis]="chartOptions12.xaxis" [yaxis]="chartOptions12.yaxis" [stroke]="chartOptions12.stroke"
              [grid]="chartOptions12.grid" [markers]="chartOptions12.markers" [legend]="chartOptions12.legend"
              [tooltip]="chartOptions12.tooltip" [annotations]="chartOptions12.annotations"
              [dataLabels]="chartOptions12.dataLabels" [colors]="chartOptions12.colors">
            </apx-chart>
          </div>
        </div>

      </div>
      <div class="card w-100 p-3">
        <div class="d-flex flex-row align-items-center w-100 justify-content-between mb-3">
          <h5 class="m-0 font-16 fw-semibold">Insights & Alerts</h5>
          <div class="badge badge-grey rounded-pill">
            4 active
          </div>
        </div>
        <div class="card red--card p-3 flex-row mb-3">
          <div class="d-flex align-items-center justify-content-center side--box flex-shrink-0 me-3">
            <img src="images/warning-red.svg" alt="icon" class="img-fluid">
          </div>
          <div class="d-flex flex-column">
            <h2 class="font-14 fw-semibold clr--BE123C">Math Achievement Below Target</h2>
            <p class="mb-0 font-11 clr--4755">District-wide math proficiency is 8% below goal. Consider additional
              support.</p>
          </div>
        </div>
        <div class="card yellow--card p-3 flex-row mb-3">
          <div class="d-flex align-items-center justify-content-center side--box flex-shrink-0 me-3">
            <img src="images/downwards-yellow.svg" alt="icon" class="img-fluid">
          </div>
          <div class="d-flex flex-column align-items-start">
            <h2 class="font-14 fw-semibold ">ELA Bottom Quartile Needs Attention</h2>
            <p class="mb-0 font-11 clr--4755">Middle School ELA bottom quartile showing -4% decline.</p>
            <div class="badge badge-grey rounded-pill mt-2">Jefferson Middle School</div>
          </div>
        </div>
        <div class="card green--card p-3 flex-row mb-0">
          <div class="d-flex align-items-center justify-content-center side--box flex-shrink-0 me-3">
            <img src="images/upwards-green.svg" alt="icon" class="img-fluid">
          </div>
          <div class="d-flex flex-column">
            <h2 class="font-14 fw-semibold">Science Scores Improving</h2>
            <p class="mb-0 font-11 clr--4755">Science proficiency increased by 2% district- wide this quarter.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- ESSA Performance by Demographic -->
  <div class="row essa--perform--wrapper mt-4">
    <div class="col-12">
      <div class="card p-0 m-0">
        <div class="d-flex flex-row align-items-center p-3">
          <div class="d-flex align-items-center justify-content-center side--box flex-shrink-0 me-3">
            <img src="images/poeple-blue.svg" alt="icon" class="img-fluid">
          </div>
          <div class="d-flex flex-column">
            <h4 class="font-16 fw-semibold mb-1">ESSA Performance by Demographic</h4>
            <p class="mb-0 font-13">Goal attainment rates across student groups</p>
          </div>
        </div>
        <div class="table-responsive essa-table">
          <table class="table table-custom table-centered m-0">
            <thead class="thead-sm">
              <tr class="text-uppercase">
                <th>Student Group</th>
                <th class="text-center">Current</th>
                <th class="text-center">Target</th>
                <th class="text-center">Previous</th>
                <th class="text-center">Change</th>
                <th class="text-center">Students</th>
                <th colspan="3" class="text-center">
                  <mat-form-field appearance="outline" class="dd--sm">
                    <mat-select placeholder="ELA">
                      <mat-option value="1">Math</mat-option>
                      <mat-option value="2">SS</mat-option>
                      <mat-option value="3">SCIENCE</mat-option>
                      <mat-option value="4">HS CCA</mat-option>
                    </mat-select>
                  </mat-form-field>
                </th>
              </tr>
              <tr class="sub-header">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-center">ACH</th>
                <th class="text-center">LG</th>
                <th class="text-center">BQ</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let row of performanceData">
                <td class="clr--111827 fw-semibold">
                  {{ row.studentGroup }}
                </td>
                <td class="clr--4755 fw-normal text-center">
                  <div class="badge" [ngClass]="row.badgeClass">
                    {{ row.badge }}
                  </div>
                </td>
                <td class="clr--4755 fw-normal text-center">
                  {{ row.target }}
                </td>
                <td class="text-black fw-normal text-center">
                  {{ row.previous }}
                </td>
                <td class="text-center">
                  <div class="d-flex align-items-center justify-content-center gap-2 clr--90C9 fw-normal">
                    <img src="images/upwards-green.svg" alt="icon" class="img-fluid">
                    {{ row.change }}
                  </div>
                </td>
                <td class="clr--4755 fw-semibold text-center">
                  {{ row.students }}
                </td>
                <td class="clr--4755 fw-semibold text-center">
                  {{ row.ach }}
                </td>
                <td class="clr--4755 fw-semibold text-center">
                  {{ row.lg }}
                </td>
                <td class="clr--4755 fw-semibold text-center">
                  {{ row.bq }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 performance-matrix-section mt-3">
      <div class="card p-3 p-sm-4 d-flex flex-column mb-0">
        <div class="d-flex flex-row flex-wrap gap-2 justify-content-between table-filters-section">
          <mat-button-toggle-group [value]="viewMode1()" (change)="viewMode1.set($event.value)"
            class="toggle-container">
            <mat-button-toggle value="school">By School</mat-button-toggle>
            <mat-button-toggle value="attendance">By Attendance</mat-button-toggle>
            <mat-button-toggle value="region">By Region</mat-button-toggle>
            <mat-button-toggle value="tier">By Tier</mat-button-toggle>
          </mat-button-toggle-group>
          <div class="d-flex flex-column flex-sm-row flex-wrap align-items-center">
            <div class="row">
              <div class="col-12 col-lg-3 col-xl-3">
                <mat-form-field appearance="outline" class="dd--sm w-100 m-1">
                  <mat-select placeholder="All Demographics">
                    <mat-option value="1">Demographics 1</mat-option>
                    <mat-option value="2">Demographics 2</mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div class="col-12 col-lg-3 col-xl-3">
                <mat-form-field appearance="outline" class="dd--sm w-100 m-1">
                  <mat-select placeholder="All Students">
                    <mat-option value="1">Students 1</mat-option>
                    <mat-option value="2">Students 2</mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div class="col-12 col-lg-3 col-xl-3">
                <mat-form-field appearance="outline" class="dd--sm w-100 m-1">
                  <mat-select placeholder="All Schools">
                    <mat-option value="1">Schools 1</mat-option>
                    <mat-option value="2">Schools 2</mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div class="col-12 col-lg-3 col-xl-3">
                <mat-form-field appearance="outline" class="dd--sm w-100 m-1">
                  <mat-select placeholder="Subjects (8)">
                    <mat-option value="1">All Subjects 1</mat-option>
                    <mat-option value="2">All Subjects 2</mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
            </div>

          </div>
        </div>
        <div class="card p-3 p-sm-4 d-flex flex-column m-0" #performanceTrendsSection>
          <div class="d-flex align-items-center flex-wrap justify-content-sm-between gap-2">
            <h5 class="font-17 clr--111827 fw-semibold mb-0">Performance Trends</h5>
          </div>
          <div *ngIf="viewMode1() === 'school'" class="chart-scroll-wrapper">
            <div class="chart-scroll-area">
              <div class="chart-container pt--chart">
                <apx-chart
                  #performanceTrendsChart
                  [series]="chartOptions1.series"
                  [chart]="chartOptions1.chart"
                  [xaxis]="chartOptions1.xaxis"
                  [yaxis]="chartOptions1.yaxis"
                  [stroke]="chartOptions1.stroke"
                  [grid]="chartOptions1.grid"
                  [markers]="chartOptions1.markers"
                  [legend]="chartOptions1.legend"
                  [tooltip]="chartOptions1.tooltip"
                  [colors]="chartOptions1.colors"
                  [fill]="chartOptions1.fill"
                  [dataLabels]="chartOptions1.dataLabels">
                </apx-chart>
              </div>
            </div>
          </div>
          <div *ngIf="viewMode1() === 'attendance'" class="chart-scroll-wrapper">
            <div class="chart-scroll-area">
              <div class="chart-container pt--chart">
                <apx-chart
                  #performanceTrendsChart1
                  [series]="chartOptions2.series"
                  [chart]="chartOptions2.chart"
                  [xaxis]="chartOptions2.xaxis"
                  [yaxis]="chartOptions2.yaxis"
                  [stroke]="chartOptions2.stroke"
                  [grid]="chartOptions2.grid"
                  [markers]="chartOptions2.markers"
                  [legend]="chartOptions2.legend"
                  [tooltip]="chartOptions2.tooltip"
                  [colors]="chartOptions2.colors"
                  [fill]="chartOptions2.fill"
                  [dataLabels]="chartOptions2.dataLabels">
                </apx-chart>
              </div>
            </div>
          </div>
          <div *ngIf="viewMode1() === 'region'" class="chart-scroll-wrapper">
            <div class="chart-scroll-area">
              <div class="chart-container pt--chart">
                <apx-chart
                  #performanceTrendsChart2
                  [series]="chartOptions3.series"
                  [chart]="chartOptions3.chart"
                  [xaxis]="chartOptions3.xaxis"
                  [yaxis]="chartOptions3.yaxis"
                  [stroke]="chartOptions3.stroke"
                  [grid]="chartOptions3.grid"
                  [markers]="chartOptions3.markers"
                  [legend]="chartOptions3.legend"
                  [tooltip]="chartOptions3.tooltip"
                  [colors]="chartOptions3.colors"
                  [fill]="chartOptions3.fill"
                  [dataLabels]="chartOptions3.dataLabels">
                </apx-chart>
              </div>
            </div>
          </div>
          <div *ngIf="viewMode1() === 'tier'" class="chart-scroll-wrapper">
            <div class="chart-scroll-area">
              <div class="chart-container pt--chart">
                <apx-chart
                  #performanceTrendsChart3
                  [series]="chartOptions4.series"
                  [chart]="chartOptions4.chart"
                  [xaxis]="chartOptions4.xaxis"
                  [yaxis]="chartOptions4.yaxis"
                  [stroke]="chartOptions4.stroke"
                  [grid]="chartOptions4.grid"
                  [markers]="chartOptions4.markers"
                  [legend]="chartOptions4.legend"
                  [tooltip]="chartOptions4.tooltip"
                  [colors]="chartOptions4.colors"
                  [fill]="chartOptions4.fill"
                  [dataLabels]="chartOptions4.dataLabels">
                </apx-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Goal Achievement Summary -->
  <div class="row gas--wrapper mt-4" #goalSummarySection>
    <div
      class="col-12 d-flex flex-column flex-sm-row align-items-center justify-content-between header--sec p-2 p-sm-4">
      <div class="d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-center side--box flex-shrink-0 me-3">
          <img src="images/perple-round-circles.svg" alt="icon" class="img-fluid">
        </div>
        <div class="d-flex flex-column">
          <h4 class="font-16 fw-semibold mb-2">Goal Achievement Summary</h4>
          <p class="mb-0 font-13">District-wide annual goals tracking</p>
        </div>
      </div>
      <div class="d-flex align-items-center gap-2 mt-2 mt-sm-0">
        <div class="badge badge-green">
          1 Completed
        </div>
        <div class="badge badge-blue">
          3 On Track
        </div>
        <div class="badge badge-orange">
          2 At Risk
        </div>

      </div>
    </div>
    <div class="col-12">
      <div class="card d-flex flex-column p-0">
        <div class="col-12 d-flex align-items-start goals--track p-2 p-sm-4">
          <div class="d-flex align-items-center justify-content-center side--box track flex-shrink-0 me-3">
            <img src="images/upwards.svg" alt="icon" class="img-fluid">
          </div>
          <div class="d-flex flex-column w-100">
            <div class="d-flex align-items-center mb-1">
              <h2 class="font-15 fw-semibold m-0">Increase ELA proficiency to 70% by end of year</h2>
              <div class="badge badge-blue flex-shrink-0 ms-3">On Track</div>
            </div>
            <p class="clr--64748B mb-2 font-13">Currently at 68.4%, on pace to reach 70% by May</p>
            <div class="w-100 d-flex align-items-center">
              <div class="progress w-100">
                <div class="progress-bar bg-primary" role="progressbar"  [style.width.%]="goalSummaryAnimated ? 95 : 0"  aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <small class="clr--4755 d-flex flex-shrink-0 ms-3 font-11">68.4/70 %</small>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex align-items-start goals--track p-2 p-sm-4">
          <div class="d-flex align-items-center justify-content-center side--box risk flex-shrink-0 me-3">
            <img src="images/warning-orange-2.svg" alt="icon" class="img-fluid">
          </div>
          <div class="d-flex flex-column w-100">
            <div class="d-flex align-items-center mb-1">
              <h2 class="font-15 fw-semibold m-0">Close achievement gap in Math by 5% for disadvantaged students</h2>
              <div class="badge badge-orange flex-shrink-0 ms-3"> At Risk </div>
            </div>
            <p class="clr--64748B mb-2 font-13">Gap reduced by 2.1%, need additional interventions</p>
            <div class="w-100 d-flex align-items-center">
              <div class="progress w-100">
                <div class="progress-bar bg-orange" role="progressbar" [style.width.%]="goalSummaryAnimated ? 21 : 0"  aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <small class="clr--4755 d-flex flex-shrink-0 ms-3 font-11">2.1/5 pts</small>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex align-items-start goals--track p-2 p-sm-4">
          <div class="d-flex align-items-center justify-content-center side--box complete flex-shrink-0 me-3">
            <img src="images/green-tick.svg" alt="icon" class="img-fluid">
          </div>
          <div class="d-flex flex-column w-100">
            <div class="d-flex align-items-center mb-1">
              <h2 class="font-15 fw-semibold m-0">Achieve 95% attendance rate district-wide</h2>
              <div class="badge badge-green flex-shrink-0 ms-3"> Completed </div>
            </div>
            <p class="clr--64748B mb-2 font-13">Goal achieved! Current rate: 95.2%</p>

          </div>
        </div>
        <div class="col-12 d-flex align-items-start goals--track p-2 p-sm-4">
          <div class="d-flex align-items-center justify-content-center side--box track flex-shrink-0 me-3">
            <img src="images/upwards.svg" alt="icon" class="img-fluid">
          </div>
          <div class="d-flex flex-column w-100">
            <div class="d-flex align-items-center mb-1">
              <h2 class="font-15 fw-semibold m-0">Improve Science proficiency by 10% in middle schools</h2>
              <div class="badge badge-blue flex-shrink-0 ms-3">On Track</div>
            </div>
            <p class="clr--64748B mb-2 font-13">Currently improved by 7.3%, trending positively</p>
            <div class="w-100 d-flex align-items-center">
              <div class="progress w-100">
                <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="goalSummaryAnimated ? 50 : 0" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <small class="clr--4755 d-flex flex-shrink-0 ms-3 font-11">7.3/10 pts</small>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex align-items-start goals--track p-2 p-sm-4">
          <div class="d-flex align-items-center justify-content-center side--box risk flex-shrink-0 me-3">
            <img src="images/warning-orange-2.svg" alt="icon" class="img-fluid">
          </div>
          <div class="d-flex flex-column w-100">
            <div class="d-flex align-items-center mb-1">
              <h2 class="font-15 fw-semibold m-0">Reduce chronic absenteeism to below 10%</h2>
              <div class="badge badge-orange flex-shrink-0 ms-3"> At Risk </div>
            </div>
            <p class="clr--64748B mb-2 font-13">Currently at 12.4%, focused interventions needed </p>
            <div class="w-100 d-flex align-items-center">
              <div class="progress w-100">
                <div class="progress-bar bg-orange" role="progressbar" [style.width.%]="goalSummaryAnimated ? 100 : 0" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <small class="clr--4755 d-flex flex-shrink-0 ms-3 font-11">12.4/10 pts</small>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex align-items-start goals--track p-2 p-sm-4">
          <div class="d-flex align-items-center justify-content-center side--box complete flex-shrink-0 me-3">
            <img src="images/green-tick.svg" alt="icon" class="img-fluid">
          </div>
          <div class="d-flex flex-column w-100">
            <div class="d-flex align-items-center mb-1">
              <h2 class="font-15 fw-semibold m-0">Achieve 95% attendance rate district-wide</h2>
              <div class="badge badge-green flex-shrink-0 ms-3"> Completed </div>
            </div>
            <p class="clr--64748B mb-2 font-13">Goal achieved! Current rate: 95.2%</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- At-Risk Schools (Start here) -->
  <div class="row ars--wrapper">
    <div class="col-12">
      <div
        class="red--head d-flex flex-column flex-sm-row align-items-center justify-content-between header--sec p-2 p-sm-4 ">
        <div class="d-flex align-items-center">
          <div class="d-flex align-items-center justify-content-center side--box flex-shrink-0 me-3">
            <img src="images/warning-red.svg" alt="icon" class="img-fluid">
          </div>
          <div class="d-flex flex-column">
            <h4 class="font-16 fw-semibold mb-1 clr--1e29">{{ riskSummary.title }}</h4>
            <p class="mb-0 font-13 clr--64748B">{{ riskSummary.subtitle }}</p>
          </div>
        </div>

        <div class="d-flex align-items-center gap-2 mt-2 mt-sm-0">
          <div class="badge badge-red">{{ riskSummary.highRiskCount }} High Risk</div>
          <div class="badge badge-orange">{{ riskSummary.mediumRiskCount }} Medium Risk</div>
        </div>
      </div>
      <div *ngFor="let school of schools" class="card risk--card d-flex flex-column w-100"
        [ngClass]="{'medium--risk--card': school.risk === 'Medium'}">
        <div class="card--header d-flex">
          <div class="default--round d-flex align-items-center justify-content-center rounded-pill me-2 flex-shrink-0">
            <img src="images/person-grey.svg" alt="icon" class="img-fluid">
          </div>
          <div class="d-flex flex-column w-100">
            <div class="d-flex align-items-center me-3">
              <h2 class="mb-0 font-14 me-2 clr--1e29 fw-semibold">{{ school.name }}</h2>
              <div class="badge text-uppercase flex-shrink-0" [ngClass]="school.riskClass">
                {{ school.risk }} Risk
              </div>
            </div>
            <div class="d-flex align-items-center flex-wrap mt-1">
              <div class="d-flex align-items-center me-3">
                <img src="images/building-grey-sm.svg" alt="icon" class="me-2">
                <p class="mb-0 font-13 clr--64748B">{{ school.students }} students</p>
              </div>
              <div class="d-flex align-items-center">
                <p class="mb-0 font-13 clr--64748B">• {{ school.grade }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="score--box w-100 d-flex flex-column align-items-center justify-content-center mt-2">
              <h6 class="mb-2 clr--64748B font-11">Average Score</h6>
              <h5 class="count mb-2">{{ school.avgScore }}</h5>
              <p class="m-0 clr--64748B font-11">{{ school.scoreNote }}</p>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="score--box w-100 d-flex flex-column align-items-center justify-content-center mt-2">
              <h6 class="mb-2 clr--64748B font-11">Average Attendance</h6>
              <h5 class="count mb-2">{{ school.attendance }}</h5>
              <p class="m-0 clr--64748B font-11">{{ school.attendanceNote }}</p>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="score--box w-100 d-flex flex-column align-items-center justify-content-center mt-2">
              <h6 class="mb-2 clr--64748B font-11">Supporting Data</h6>
              <p *ngFor="let item of school.supportingData" class="mb-2 clr--64748B font-11 d-flex align-items-center">
                {{ item.label }}
                <span class="count ms-2">{{ item.value }}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="action--foo w-100 d-flex align-items-sm-center flex-column flex-sm-row gap-2">
              <p class="mb-0 font-11 clr--64748B">Actions:</p>
              <div class="d-flex align-items-center gap-2">
                <button type="button" class="btn btn-sm btn-outline-primary btn--red"><i
                    class="icon icon--cross-round-red me-1"></i> Reject</button>
                <button type="button" class="btn btn-sm btn-outline-primary btn--green"><i
                    class="icon icon--tick-roud-green me-1"></i>Keep</button>
                <button type="button" class="btn btn-sm btn-outline-primary btn--lightblue"><i
                    class="icon icon--person-plus-blue me-1"></i>Delegate</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
