.performance--summary-section{
    .main-title{
        font-size: 32px;
        color: #fff;
        line-height: 32px;
        margin-bottom: 8px;
    }
    .second-title{
        color: #fff;
        line-height: 20px;
        margin-bottom: 8px;
    }
    .clr--BFD{color: #BFDBFE;}
    .clr--90C9{color: #90C955;}
    .clr--EA914{color: #EA914E;}
    .clr--D64550{color: #D64550;}
    .clr--6EE7B7{color: #6EE7B7;}
    .clr--FCA5A5{color: #FCA5A5;}
    .clr--FDE047{color: #FDE047;}

    .card{
        border-radius: 16px;
        border: 1px solid #E5E5E5;
        background: #0D2A7C;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.10), 0 8px 10px -6px rgba(0, 0, 0, 0.10);
        .header-section{
            gap: 16px;
            .total-students-section{
                gap: 16px;

            }
        }
        .arr--btn {
            min-height: 120px;
            border-radius: 12px;
            background: #ffffff1a;
            backdrop-filter: blur(2px);
            border: none;
            padding: 10px 12px;
            box-shadow: none;
            display: flex;
            align-items: center;
            justify-content: center;
            .mat-icon {
                font-size: 16px;
                width: 16px;
                height: 16px;
                color: #fff;
            }
        }
        .section-slider{
            overflow-x: auto;
            scroll-behavior: smooth;
            white-space: nowrap;
            width: 100%;
            scrollbar-width: none;
            flex: 1;
            gap: 10px;

            &::-webkit-scrollbar {
                display: none;
            }
        }
        .backdrop-card{
            .card{
                height: 100%;
                border-radius: 12px;
                background: #ffffff1a;
                backdrop-filter: blur(2px);
                border: none;
                box-shadow: none;
                padding: 16px;
                img{
                    width: 20px;
                    height: 20px;
                }
                .inner-divider-line{
                    border: 1px solid #ffffff33;
                }
                .inner-section-box{
                    min-height: 70px;
                    border-radius: 4px;
                    background: #ffffff33;
                    padding: 8px;
                    p{
                        line-height: 16px;
                        letter-spacing: 0.3px;
                        text-transform: uppercase;
                    }
                }
                .bottom-notation{
                    width: 10px;
                    height: 10px;
                    border-radius: 100px;
                    &.green-notation{
                        background-color: #90C955;
                    }
                    &.yellow-notation{
                        background-color: #DCE52A;
                    }
                    &.blue-notation{
                        background-color: #0085FF;
                    }
                    &.grey-notation{
                        background-color: #6B7280;
                    }
                }
                .predicted-performance-label{
                    padding: 0 6px;
                    border-radius: 3px;
                    background: #d6455080;
                }
            }
        }
        .total-performance-section{
            gap: 24px;
            .indicators-wrapper{
                gap: 10px;
                .font-8{
                    white-space: nowrap;
                }
                .ring-indicators-section{
                    color: #fff;
                    .circle {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        transition: background 1s ease-in-out;
                    }
                    .circle::before {
                        content: '';
                        width: 45px;
                        height: 45px;
                        background: #0D2A7C;
                        border-radius: 50%;
                        position: absolute;
                    }
                    .inner {
                        position: relative;
                        text-align: center;
                        z-index: 1;
                        .label {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
        .divider-line{
            border: 1px solid #ffffff33;
            margin: 20px 0px;
        }
    }
}

@media (min-width: 1025px) and (max-width: 1280px){
   .performance--summary-section{
        .main-title{
            font-size: 31px !important;
        }
    }
}

@media (max-width: 767px) {
    .performance--summary-section{
        .main-title{
            font-size: 27px !important;
        }
        .font-16{
            font-size: 14px !important;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .performance--summary-section{
        .main-title{
            font-size: 29px !important;
        }
        .font-16{
            font-size: 15px !important;
        }
    }
}

@media (max-width: 575px) {
    .performance--summary-section{
        .main-title{
            font-size: 25px;
        }
        .total-performance-section{
            gap: 1rem !important;
            .indicators-wrapper{
                .font-8{
                    white-space: wrap !important;
                }
            }
        }
    }
}
@media (max-width: 375px) {
    .performance--summary-section{
        .main-title{
            font-size: 21px !important;
        }
        .font-16{
            font-size: 13px !important;
        }
        .total-performance-section{
            .indicators-wrapper{
                flex-wrap: wrap;
                .ring-indicators-section{
                    width: 45%;
                    .circle{
                        width: 75px !important;
                        height: 75px !important;
                        &::before{
                            width: 60px !important;
                            height: 60px !important;
                        }
                    }
                }
            }
        }
    }
}