<div class="auth-container d-flex flex-column flex-sm-row">
  <div class="auth-left d-flex flex-column min-vh-100 w-100 justify-content-center"> 
    <img src="images/auth-left.png" alt="img" class="img-fluid">
    <h1 class="text-seconday fw-medium">Built for Schools, <br>Trusted by Educators.</h1> 
  </div>
  <div class="auth-right d-flex flex-column justify-content-center flex-shrink-0">
    <div class="ar--inner route--wrapper"> 
      <router-outlet></router-outlet>
    </div> 
  </div>
</div>
