<div class="auth-container d-flex flex-column flex-sm-row">
  <div class="auth-left d-flex flex-column min-vh-100 w-100 justify-content-center"> 
    <picture>
      <source media="(max-width: 799px)" srcset="images/auth-small.webp" width="266" height="263" />
      <source media="(min-width: 800px)" srcset="images/auth.webp" width="484" height="479" />
      <img ngSrc="images/auth.webp" priority class="img-fluid" width="484" height="479" fetchpriority="high" alt="Goal Tracker for schools" />
    </picture> 
    <!-- <img src="images/auth-small.webp" class="img-fluid" width="484" height="479" fetchpriority="high" alt="Goal Tracker for schools"> -->
    <h1 class="text-seconday fw-medium">Built for Schools, <br>Trusted by Educators.</h1> 
  </div>
  <div class="auth-right d-flex flex-column justify-content-center flex-shrink-0">
    <div class="ar--inner route--wrapper"> 
      <router-outlet></router-outlet>
    </div> 
  </div>
</div>
