.admin--wrapper{
    .card--box{
        small{color: #475569;}
        p{color: #0D2A7C;}
        h6{font-size: 27px;}
        .card--indicator{
            width: 48px;
            height: 48px;
            border-radius: 12px;
            background: #0D2A7C;
        }
    }
}