.schooldetails--wrapper{ 
 
    .grade-breakdown-table{
        margin-top: 1rem;
        .table{
            min-width: 750px;
            thead{
                tr{
                    th{
                        &:nth-child(1) {
                            width: 20%;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        &:nth-child(1) {
                            word-break: break-all;
                        }
                        .final-status{
                            border-radius: 9999px;
                            padding: 0.125rem 0.625rem;
                            display: inline-flex;
                            font-weight: 600;
                            &.on-track{
                                background-color: #DBEAFE;
                                color: #1D4ED8;
                            }
                            &.at-risk{
                                background-color: #FEF3C7;
                                color: #B45309;
                            }
                        }
                        .link--icon{
                            color: #9CA3AF; 
                        }
                    }
                }
            }
        }
    }
    .chart-container {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 20px 0 0px 0;
        @media (max-width: 768px) {
            padding: 20px 10px 0px 10px;
        }
    }
    .custom-progress{
        height: 32px;
        overflow: visible;
        .progress-bar{
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 2px solid #fff;
            height: 32px; 
            overflow: visible;
            color: #fff;
            transition: width 1.5s ease-in-out;
        }
         .p--text{
                position: absolute;
                right: 0;
                bottom: -30px;
                color: #000;
            } 
        .bg-green{
            background-color: #90C955;
        } 
        .bg-orange{
            background-color: #EA914E;
        } 
        .bg-yellow{
            background-color: #DCE52A;
        } 
        .bg-org-fent{
            background-color: #FEF3C7;
        }
        .progress-bar:last-child{
            border-right: 0;
        }
    }





}