<div class="container-fluild schooldetails--wrapper">
  <div class="row">
    <app-performance-summary></app-performance-summary>
    <div class="col-12 head--sec d-flex flex-wrap align-items-center justify-content-between gap-3">
      <h1 class="font-16 text-secondary fw-bold">Performance Summary</h1>
      <mat-form-field appearance="outline">
        <mat-select placeholder="All Subjects">
          <mat-option value="1">Subjects 10</mat-option>
          <mat-option value="2">Subjects 11 </mat-option>
          <mat-option value="2">Subjects 12 </mat-option>
          <mat-option value="2">Subjects 13 </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row summary-section">
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card green-section p-3 p-sm-4 d-flex flex-column">
        <div class="d-flex flex-row align-items-start justify-content-between">
          <div class="d-flex flex-column gap-1">
            <p class="text-muted font-14 fw-semibold mb-0">ELA Achievement</p>
            <h3 class="clr--111827 fw-bold mb-0">75%</h3>
            <span class="clr--9CA3AF font-11 fw-normal">Achievement rate</span>
          </div>
          <div class="d-flex align-items-center justify-content-center side--box flex-shrink-0">
            <img src="images/blue-round-circles.svg" alt="icon" class="img-fluid">
          </div>
        </div>
        <div class="d-flex flex-wrap gap-3">
          <div class="rounded-label-section green d-flex align-items-center gap-1">
            <img src="images/upwards-green.svg" alt="icon" class="img-fluid">
            <p class="font-11 fw-semibold mb-0">+4% beginning of year</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card orange-section p-3 p-sm-4 d-flex flex-column">
        <div class="d-flex flex-row align-items-start justify-content-between">
          <div class="d-flex flex-column gap-1">
            <p class="text-muted font-14 fw-semibold mb-0">ELA Learning Gains</p>
            <h3 class="clr--111827 fw-bold mb-0">70%</h3>
            <span class="clr--9CA3AF font-11 fw-normal">Learning gains</span>
          </div>
          <div class="d-flex align-items-center justify-content-center side--box flex-shrink-0">
            <img src="images/blue-round-circles.svg" alt="icon" class="img-fluid">
          </div>
        </div>
        <div class="d-flex flex-wrap gap-3">
          <div class="rounded-label-section orange d-flex align-items-center gap-1">
            <img src="images/upwards-orange.svg" alt="icon" class="img-fluid">
            <p class="font-11 fw-semibold mb-0">+4% beginning of year</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card red-section p-3 p-sm-4 d-flex flex-column">
        <div class="d-flex flex-row align-items-start justify-content-between">
          <div class="d-flex flex-column gap-1">
            <p class="text-muted font-14 fw-semibold mb-0">ELA Bottom Quartile</p>
            <h3 class="clr--111827 fw-bold mb-0">65%</h3>
            <span class="clr--9CA3AF font-11 fw-normal">Bottom quartile progress</span>
          </div>
          <div class="d-flex align-items-center justify-content-center side--box flex-shrink-0">
            <img src="images/book-open.svg" alt="icon" class="img-fluid">
          </div>
        </div>
        <div class="d-flex flex-wrap gap-3">
          <div class="rounded-label-section red d-flex align-items-center gap-1">
            <img src="images/upwards-red.svg" alt="icon" class="img-fluid">
            <p class="font-11 fw-semibold mb-0">+5% beginning of year</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card blue-section p-3 p-sm-4 d-flex flex-column">
        <div class="d-flex flex-row align-items-start justify-content-between">
          <div class="d-flex flex-column gap-1">
            <p class="text-muted font-14 fw-semibold mb-0">25 students</p>
            <h3 class="clr--111827 fw-bold mb-0">4.0</h3>
            <span class="clr--9CA3AF font-11 fw-normal">points per student earned</span>
          </div>
          <div class="d-flex align-items-center justify-content-center side--box flex-shrink-0">
            <img src="images/book-open.svg" alt="icon" class="img-fluid">
          </div>
        </div>
        <div class="rounded-label-section blue d-flex align-items-center gap-1">
          <p class="font-11 fw-semibold mb-0">-2% vs last period</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
            <div class="col-12 mt-2">
            <div class="card p-3 p-sm-4 d-flex flex-column">

              <div class="d-flex flex-sm-row flex-column align-items-sm-center justify-content-sm-between mt-3 gap-2">
                  <h5 class="font-17 text-secondary fw-semibold mb-0">School Performance Trend</h5>
                    <mat-button-toggle-group class="toggle-container" value="all">
                      <mat-button-toggle value="all">All</mat-button-toggle>
                      <mat-button-toggle value="asc">Ach</mat-button-toggle>
                      <mat-button-toggle value="lg">LG</mat-button-toggle>
                      <mat-button-toggle value="bq">BQ</mat-button-toggle>
                  </mat-button-toggle-group>
              </div> 
                <div class="chart-container">
                    <apx-chart
                        [series]="schoolChartOptions.series"
                        [chart]="schoolChartOptions.chart"
                        [xaxis]="schoolChartOptions.xaxis"
                        [yaxis]="schoolChartOptions.yaxis"
                        [stroke]="schoolChartOptions.stroke"
                        [grid]="schoolChartOptions.grid"
                        [markers]="schoolChartOptions.markers"
                        [legend]="schoolChartOptions.legend"
                        [tooltip]="schoolChartOptions.tooltip"
                        [annotations]="schoolChartOptions.annotations"
                        [colors]="schoolChartOptions.colors">
                    </apx-chart>
                </div>
            </div>
        </div>
    <div class="col-12">
      <div class="card p-3 p-sm-4 d-flex flex-column">
        <h5 class="font-17 text-secondary fw-semibold mb-0">Grade & Teacher Breakdown</h5>
        <div class="d-flex flex-sm-row flex-column align-items-sm-center justify-content-sm-between mt-3 gap-2">

          <mat-button-toggle-group [value]="viewMode()" (change)="viewMode.set($event.value)" class="toggle-container">
            <mat-button-toggle value="grade">By Grade</mat-button-toggle>
            <mat-button-toggle value="teacher">By Teacher</mat-button-toggle>
          </mat-button-toggle-group>

          <mat-button-toggle-group [value]="chartMode()" (change)="chartMode.set($event.value)"
            class="toggle-container small">
            <mat-button-toggle value="table">Table</mat-button-toggle>
            <mat-button-toggle value="bar">Bar Chart</mat-button-toggle>
          </mat-button-toggle-group>

        </div>
        <div class="table-responsive grade-breakdown-table">
          <!-- By Grade Table -->
          <table class="table table-custom table-centered m-0" [hidden]="viewMode() !== 'grade'"
            *ngIf="chartMode() === 'table'">
            <thead class="thead-sm">
              <tr class="text-uppercase">
                <th>Grade</th>
                <th class="text-center">Ach %</th>
                <th class="text-center">LG %</th>
                <th class="text-center">BQ %</th>
                <th class="text-center">Risk %</th>
                <th class="text-center">Students</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of dataGrade">
                <td class="clr--111827 fw-semibold">{{ row.grade }}</td>
                <td class="text-center">
                  <div class="bg-highlight" [ngClass]="getStatusClass(row.ach)">
                    {{ row.ach }}%
                  </div>
                </td>
                <td class="text-center">
                  <div class="bg-highlight" [ngClass]="getStatusClass(row.lg)">
                    {{ row.lg }}%
                  </div>
                </td>
                <td class="text-center">
                  <div class="bg-highlight" [ngClass]="getStatusClass(row.bq)">
                    {{ row.bq }}%
                  </div>
                </td>
                <td class="text-center">
                  <div class="bg-highlight" [ngClass]="getStatusCssClass(row.risk)">
                    {{ row.risk }}
                  </div>
                </td>
                <td class="clr--111827 fw-semibold text-center">{{ row.students }}</td>
              </tr>
            </tbody>
          </table>

          <!-- By Teacher Table -->
          <table class="table table-custom table-centered m-0" [hidden]="viewMode() !== 'teacher'"
            *ngIf="chartMode() === 'table'">
            <thead class="thead-sm">
              <tr class="text-uppercase">
                <th>Teacher</th>
                <th class="text-center">Ach %</th>
                <th class="text-center">LG %</th>
                <th class="text-center">BQ %</th>
                <th class="text-center">Risk %</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of dataTeacher">
                <td class="clr--111827 fw-semibold">{{ row.teacher }}</td>
                <td class="text-center">
                  <div class="bg-highlight" [ngClass]="getStatusClass(row.ach)">
                    {{ row.ach }}%
                  </div>
                </td>
                <td class="text-center">
                  <div class="bg-highlight" [ngClass]="getStatusClass(row.lg)">
                    {{ row.lg }}%
                  </div>
                </td>
                <td class="text-center">
                  <div class="bg-highlight" [ngClass]="getStatusClass(row.bq)">
                    {{ row.bq }}%
                  </div>
                </td>
                <td class="text-center">
                  <div class="bg-highlight" [ngClass]="getStatusCssClass(row.risk)">
                    {{ row.risk }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="chart-container" *ngIf="viewMode() === 'grade' && chartMode() === 'bar'">
          <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
            [yaxis]="chartOptions.yaxis" [grid]="chartOptions.grid" [markers]="chartOptions.markers"
            [plotOptions]="chartOptions.plotOptions" [dataLabels]="chartOptions.dataLabels"
            [legend]="chartOptions.legend" [tooltip]="chartOptions.tooltip" [colors]="chartOptions.colors">
          </apx-chart>
        </div>
        <div class="chart-container" *ngIf="viewMode() === 'teacher' && chartMode() === 'bar'">
          <apx-chart [series]="ChartOptionsTeacher.series" [chart]="ChartOptionsTeacher.chart"
            [xaxis]="ChartOptionsTeacher.xaxis" [yaxis]="ChartOptionsTeacher.yaxis" [grid]="ChartOptionsTeacher.grid"
            [markers]="ChartOptionsTeacher.markers" [plotOptions]="ChartOptionsTeacher.plotOptions"
            [dataLabels]="ChartOptionsTeacher.dataLabels" [legend]="ChartOptionsTeacher.legend"
            [tooltip]="ChartOptionsTeacher.tooltip" [colors]="ChartOptionsTeacher.colors">
          </apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>
