.schooldetails--wrapper{ 
 
    .summary-section{
        .card{
            height: stretch;
            margin-top: 1.25rem;
            border-radius: 0.5rem;
            background: #fff;
            box-shadow: 0 1px 2px 0 #0000001a;
            gap: 12px;
            h3{
                font-size: 1.813rem;
            } 
            .side--box{
                width: 2.25rem;
                height: 2.25rem;
                border-radius: 0.5rem;
                background: #EFF6FF;
                img{
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }
            &.green-section{
                border-left: 3.556px solid #90C955;
            }
            &.orange-section{
                border-left: 3.556px solid #F59E0B;
            }
            &.red-section{
                border-left: 3.556px solid #D64550;
            }
            &.blue-section{
                border-left: 3.556px solid #2563EB;
            }
            .rounded-label-section{
                border-radius: 9999px;
                padding: 0.25rem 0.5rem;
                width:fit-content;
                img{
                    width: 1rem;
                    height: 1rem;
                }
                &.green{
                    background: #F0FDF4;
                    color: #90C955;
                }
                &.orange{
                    background: #ea914e1a;
                    color: #EA914E;
                }
                &.red{
                    background: #d645501a;
                    color: #D64550;
                }
                &.blue{
                    background: #EEF6FF;
                    color: #2563EB;
                }
            }
        }
    }

}