<div class="container-fluild dashboard--wrapper">
    <div class="row">
        <div class="col-12 head--sec d-flex flex-sm-row flex-column align-items-sm-center">
            <div class="d-flex flex-column">
                <h4 class="text-secondary fw-bold">My Dashboard</h4>
                <p class="clr--64748B font-13 fw-normal mb-0">Grade 10 · Lincoln High School</p>
            </div>
        </div>
    </div>
    <div class="row summary-section">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card p-3 p-sm-4 d-flex flex-column">
                <div class="d-flex flex-row align-items-center justify-content-between">
                    <div class="d-flex flex-column gap-1">
                        <p class="clr--64748B font-11 fw-normal mb-0">Total Students</p>
                        <h3 class="clr--0F1729 fw-bold mb-0">28</h3>
                    </div>
                    <div class="d-flex align-items-center justify-content-center side--box blue flex-shrink-0">
                        <img src="images/person-multi.svg" alt="icon" class="img-fluid">
                    </div>
                </div>
                <div class="d-flex flex-sm-row flex-column justify-content-between align-items-stretch gap-2">
                    <div class="d-flex flex-column align-items-center inner-section text-center">
                        <p class="clr--0D2A7C font-11 fw-medium mb-0 text-uppercase">ACH</p>
                        <p class="clr--90C9 font-13 fw-bold mb-0">15 Students</p>
                        <p class="text-black font-9 fw-normal mb-0">Pred 10/15 Poss</p>
                    </div>
                    <div class="d-flex flex-column align-items-center inner-section text-center">
                        <p class="clr--0D2A7C font-11 fw-medium mb-0 text-uppercase">LG</p>
                        <p class="clr--90C9 font-13 fw-bold mb-0">7 Students</p>
                        <p class="text-black font-9 fw-normal mb-0">Pred 4/7 Poss</p>
                    </div>
                    <div class="d-flex flex-column align-items-center inner-section text-center">
                        <p class="clr--0D2A7C font-11 fw-medium mb-0 text-uppercase">BQ</p>
                        <p class="clr--90C9 font-13 fw-bold mb-0">6 Students</p>
                        <p class="text-black font-9 fw-normal mb-0">Pred 3/6 Poss</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card p-3 p-sm-4 d-flex flex-column">
                <div class="d-flex flex-row align-items-center justify-content-between">
                    <div class="d-flex flex-column gap-1">
                        <p class="clr--64748B font-11 fw-normal mb-0">Attendance Rate</p>
                        <h3 class="clr--0F1729 fw-bold mb-0">91%</h3>
                    </div>
                    <div class="d-flex align-items-center justify-content-center side--box blue-1 flex-shrink-0">
                        <img src="images/calender-white.svg" alt="icon" class="img-fluid">
                    </div>
                </div>
                <div class="d-flex flex-sm-row flex-column justify-content-between align-items-stretch gap-2">
                    <div class="d-flex flex-column align-items-center inner-section text-center">
                        <p class="clr--0D2A7C font-11 fw-medium mb-0 text-uppercase">SEVERE</p>
                        <p class="text-black font-9 fw-normal mb-0">(90% - 95%)</p>
                        <p class="clr--90C9 font-13 fw-bold mb-0">12 Students</p>
                    </div>
                    <div class="d-flex flex-column align-items-center inner-section text-center">
                        <p class="clr--0D2A7C font-11 fw-medium mb-0 text-uppercase">CHRONIC</p>
                        <p class="text-black font-9 fw-normal mb-0">(<90%)</p>
                        <p class="clr--90C9 font-13 fw-bold mb-0">8 Students</p>
                    </div>
                    <div class="d-flex flex-column align-items-center inner-section text-center">
                        <p class="clr--0D2A7C font-11 fw-medium mb-0 text-uppercase text-uppercase">Adequate Absenteeism</p>
                        <p class="text-black font-9 fw-normal mb-0">(>=95%)</p>
                        <p class="clr--90C9 font-13 fw-bold mb-0">8 Students</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card p-3 p-sm-4 d-flex flex-column">
                <div class="d-flex flex-row align-items-center justify-content-between">
                    <div class="d-flex flex-column gap-1">
                        <p class="clr--64748B font-11 fw-normal mb-0">Bubble</p>
                        <h3 class="clr--0F1729 fw-bold mb-0">4</h3>
                    </div>
                    <div class="d-flex align-items-center justify-content-center side--box blue flex-shrink-0">
                        <img src="images/warning-white.svg" alt="icon" class="img-fluid">
                    </div>
                </div>
                <div class="d-flex flex-sm-row flex-column justify-content-between align-items-stretch gap-2">
                    <div class="d-flex flex-column align-items-center inner-section text-center">
                        <p class="clr--0D2A7C font-11 fw-medium mb-0 text-uppercase">Bubble ACH</p>
                        <p class="clr--90C9 font-13 fw-bold mb-0">2 Students</p>
                        <p class="text-black font-9 fw-normal mb-0">Pred 1/2 Poss</p>
                    </div>
                    <div class="d-flex flex-column align-items-center inner-section text-center">
                        <p class="clr--0D2A7C font-11 fw-medium mb-0 text-uppercase">Bubble LG</p>
                        <p class="clr--90C9 font-13 fw-bold mb-0">1 Students</p>
                        <p class="text-black font-9 fw-normal mb-0">Pred 0/1 Poss</p>
                    </div>
                    <div class="d-flex flex-column align-items-center inner-section text-center">
                        <p class="clr--0D2A7C font-11 fw-medium mb-0 text-uppercase">Bubble BQ</p>
                        <p class="clr--90C9 font-13 fw-bold mb-0">1 Students</p>
                        <p class="text-black font-9 fw-normal mb-0">Pred 1/1 Poss</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 d-flex flex-wrap gap-3 align-items-center justify-content-between">
          <h5 class="font-17 text-secondary fw-semibold mb-0">ELA - Summary</h5>
          <mat-form-field appearance="outline" class="grades">
              <mat-select placeholder="All Subjects">
                <mat-option value="1">ELA</mat-option>
                <mat-option value="2">Science</mat-option>
                <mat-option value="2">Maths</mat-option>
                <mat-option value="2">History</mat-option>
              </mat-select>
          </mat-form-field>
        </div>
    </div>
    <div class="row summary-section mb-4">
        <div class="col-12 w-100 d-flex flex-sm-row justify-content-lg-between align-items-stretch flex-column flex-wrap gap-3">
            <div class="card green-section menu-card p-3 p-sm-4 d-flex flex-column mb-0">
                <div class="d-flex flex-row align-items-start justify-content-between">
                    <div class="d-flex flex-column gap-1">
                        <p class="text-muted font-14 fw-semibold mb-0">Ach %</p>
                        <h3 class="clr--111827 fw-bold mb-0">75%</h3>
                        <span class="clr--9CA3AF font-11 fw-normal">Achievement rate</span>
                    </div>
                    <div class="side--box--label font-11 fw-semibold mb-0">3rd Rank</div>
                </div>
                <div class="d-flex flex-wrap gap-3">
                    <div class="rounded-label-section green d-flex align-items-center gap-1">
                        <img src="images/upwards-green.svg" alt="icon" class="img-fluid">
                        <p class="font-11 fw-semibold mb-0">+5% beginning of year</p>
                    </div>
                </div>
            </div>
            <div class="card orange-section menu-card p-3 p-sm-4 d-flex flex-column mb-0">
                <div class="d-flex flex-row align-items-start justify-content-between">
                    <div class="d-flex flex-column gap-1">
                        <p class="text-muted font-14 fw-semibold mb-0">LG %</p>
                        <h3 class="clr--111827 fw-bold mb-0">70%</h3>
                        <span class="clr--9CA3AF font-11 fw-normal">Learning gains</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-center side--box--label flex-shrink-0">
                        <p class="font-11 fw-semibold mb-0">3rd Rank</p>
                    </div>
                </div>
                <div class="d-flex flex-wrap gap-3">
                    <div class="rounded-label-section orange d-flex align-items-center gap-1">
                        <img src="images/upwards-orange.svg" alt="icon" class="img-fluid">
                        <p class="font-11 fw-semibold mb-0">+4% beginning of year</p>
                    </div>
                </div>
            </div>
            <div class="card red-section menu-card p-3 p-sm-4 d-flex flex-column mb-0">
                <div class="d-flex flex-row align-items-start justify-content-between">
                    <div class="d-flex flex-column gap-1">
                        <p class="text-muted font-14 fw-semibold mb-0">BQ %</p>
                        <h3 class="clr--111827 fw-bold mb-0">65%</h3>
                        <span class="clr--9CA3AF font-11 fw-normal">Bottom quartile progress</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-center side--box--label flex-shrink-0">
                        <p class="font-11 fw-semibold mb-0">3rd Rank</p>
                    </div>
                </div>
                <div class="d-flex flex-wrap gap-3">
                    <div class="rounded-label-section red d-flex align-items-center gap-1">
                        <img src="images/upwards-red.svg" alt="icon" class="img-fluid">
                        <p class="font-11 fw-semibold mb-0">+6% beginning of year</p>
                    </div>
                    <!-- <div class="rounded-label-section red d-flex align-items-center gap-1">
                        <img src="images/red-downward-arrow.svg" alt="icon" class="img-fluid">
                        <p class="font-11 fw-semibold mb-0">-2% Bubble BQ</p>
                    </div> -->
                </div>
            </div>
            <div class="card red-section menu-card p-3 p-sm-4 d-flex flex-column mb-0">
                <div class="d-flex flex-row align-items-start justify-content-between">
                    <div class="d-flex flex-column gap-1">
                        <p class="text-muted font-14 fw-semibold mb-0">Risk %</p>
                        <h3 class="clr--111827 fw-bold mb-0">12%</h3>
                        <span class="clr--9CA3AF font-11 fw-normal">Students needing support</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-center side--box flex-shrink-0">
                        <img src="images/blue-warning.svg" alt="icon" class="img-fluid">
                    </div>
                </div>
                <div class="d-flex flex-wrap gap-3">
                    <div class="rounded-label-section red d-flex align-items-center gap-1">
                        <img src="images/red-downward-arrow.svg" alt="icon" class="img-fluid">
                        <p class="font-11 fw-semibold mb-0">-2% beginning of year</p>
                    </div>
                </div>
            </div>
            <div class="card blue-section menu-card p-3 p-sm-4 d-flex flex-column mb-0">
                <div class="table-responsive course-performance-table">
                    <table class="table table-custom table-centered m-0">
                        <thead class="thead-sm">
                            <tr class="text-uppercase">
                                <th class="clr--64748B font-12 fw-semibold">Subject</th>
                                <th class="clr--64748B font-12 fw-semibold text-center">ACH</th>
                                <th class="clr--64748B font-12 fw-semibold text-center">LG</th>
                                <th class="clr--64748B font-12 fw-semibold text-center">BQ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of grades">
                                <td class="clr--64748B font-10 fw-normal">{{ item.subject }}</td>
                                <td class="clr--64748B font-10 fw-normal text-center">{{ item.ach }}</td>
                                <td class="clr--64748B font-10 fw-normal text-center">{{ item.lg }}</td>
                                <td class="clr--64748B font-10 fw-normal text-center">{{ item.bq }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <div class="d-flex flex-lg-row flex-column align-items-lg-center justify-content-lg-between gap-2">
                <div class="d-flex flex-column flex-sm-row flex-wrap gap-2 w-sm-100">
                    <mat-form-field appearance="outline" class="grades">
                        <mat-select placeholder="Period">
                        <mat-option value="1">Period 1</mat-option>
                        <mat-option value="2">Period 2</mat-option>
                        <mat-option value="3">Period 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="grades">
                        <mat-select placeholder="Grades">
                        <mat-option value="1">Grade 9</mat-option>
                        <mat-option value="1">Grade 10</mat-option>
                        <mat-option value="2">Grade 11 </mat-option>
                        <mat-option value="2">Grade 12 </mat-option>
                        <mat-option value="2">Grade 13 </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="grades">
                        <mat-select placeholder="Subjects">
                        <mat-option value="1">ELA</mat-option>
                        <mat-option value="2">MATH</mat-option>
                        <mat-option value="2">SCIENCE</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="grades">
                        <mat-select placeholder="Type">
                        <mat-option value="1">ACH</mat-option>
                        <mat-option value="2">LG</mat-option>
                        <mat-option value="2">BQ</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="d-flex">
                    <mat-button-toggle-group [value]="viewMode()" (change)="viewMode.set($event.value)" class="toggle-container">
                    <mat-button-toggle value="achievement">Achievement</mat-button-toggle>
                    <mat-button-toggle value="learning">Learning Gains</mat-button-toggle>
                    <mat-button-toggle value="quartile">Bottom Quartile</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
        </div>
    </div>
    <div class="row status-section mb-4" *ngIf="viewMode() === 'achievement'">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card p-3 p-sm-4 green-card d-flex flex-column mb-0">
            <div class="d-flex gap-2">
              <img src="images/on-track-green.svg" alt="icon" class="img-fluid">
              <p class="clr--90C9 font-15 fw-semibold mb-0">On Track</p>
            </div>
            <h3 class="clr--90C9 fw-bold mb-0">169</h3>
            <p class="clr--64748B font-13 fw-normal mb-0">Likely to meet proficiency</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card p-3 p-sm-4 orange-card d-flex flex-column mb-0">
            <div class="d-flex gap-2">
              <img src="images/bubble-orange.svg" alt="icon" class="img-fluid">
              <p class="clr--EA914 font-15 fw-semibold mb-0">Bubble</p>
            </div>
            <h3 class="clr--EA914 fw-bold mb-0">98</h3>
            <p class="clr--64748B font-13 fw-normal mb-0">Near proficiency threshold</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card p-3 p-sm-4 red-card d-flex flex-column mb-0">
            <div class="d-flex gap-2">
              <img src="images/off-track-red.svg" alt="icon" class="img-fluid">
              <p class="clr--D64550 font-15 fw-semibold mb-0">Off Track</p>
            </div>
            <h3 class="clr--D64550 fw-bold mb-0">145</h3>
            <p class="clr--64748B font-13 fw-normal mb-0">Significant intervention needed</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card p-3 p-sm-4 blue-card d-flex flex-column mb-0">
            <div class="d-flex gap-2">
              <img src="images/goal-blue.svg" alt="icon" class="img-fluid">
              <p class="clr--0D2A7C font-15 fw-semibold mb-0">Meet Proficiency Goal</p>
            </div>
            <div class="d-flex align-items-center gap-2">
              <h3 class="clr--0D2A7C fw-bold mb-0">260</h3>
              <p class="clr--0D2A7C font-12 fw-bold mb-0">Students Needed to reach 50%</p>
            </div>
            <p class="clr--64748B font-13 fw-normal mb-0">37 students still needed (Currently at 41%)</p>
          </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 col-lg-8">
            <div class="card p-3 p-sm-4 d-flex flex-column mb-0">
                <div class="d-flex flex-sm-row flex-column justify-content-sm-between align-items-sm-center gap-1">
                    <div class="d-flex flex-column gap-1">
                        <h5 class="font-15 text-black fw-semibold mb-0">Class Performance Trend</h5>
                        <p class="clr--64748B font-13 fw-normal mb-0">My class vs. school average</p>
                    </div>
                    <div class="d-flex flex-column flex-sm-row flex-wrap gap-2">
                        <mat-form-field appearance="outline" class="grades">
                            <mat-select placeholder="Subjects">
                            <mat-option value="1">ELA</mat-option>
                            <mat-option value="2">MATH</mat-option>
                            <mat-option value="2">SCIENCE</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="grades">
                            <mat-select placeholder="Type">
                            <mat-option value="1">ACH</mat-option>
                            <mat-option value="2">LG</mat-option>
                            <mat-option value="2">BQ</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="chart-scroll-wrapper">
                    <div class="chart-scroll-area">
                    <div class="chart-container pt--chart">
                        <apx-chart
                        [series]="chartOptions1.series"
                        [chart]="chartOptions1.chart"
                        [xaxis]="chartOptions1.xaxis"
                        [yaxis]="chartOptions1.yaxis"
                        [stroke]="chartOptions1.stroke"
                        [grid]="chartOptions1.grid"
                        [markers]="chartOptions1.markers"
                        [legend]="chartOptions1.legend"
                        [tooltip]="chartOptions1.tooltip"
                        [colors]="chartOptions1.colors"
                        [fill]="chartOptions1.fill"
                        [dataLabels]="chartOptions1.dataLabels"
                        [annotations]="chartOptions1.annotations">
                        </apx-chart>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card p-3 p-sm-4 d-flex flex-column gap-3">
                <div class="d-flex flex-column gap-1">
                    <h5 class="font-15 text-black fw-semibold mb-0">Subject Scores</h5>
                    <p class="clr--64748B font-13 fw-normal mb-0">Class vs. school average</p>
                </div>
                <div class="d-flex">
                    <mat-button-toggle-group [value]="viewMode1()" (change)="viewMode1.set($event.value)" class="toggle-container">
                        <mat-button-toggle value="ela">ELA</mat-button-toggle>
                        <mat-button-toggle value="math">Math</mat-button-toggle>
                        <mat-button-toggle value="social studies">Social Studies</mat-button-toggle>
                        <mat-button-toggle value="science">Science</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div class="d-flex flex-column gap-3 mb-3">
                    @for (item of subjectsList; track item) {
                        <div class="progress--wrapper d-flex flex-column gap-2">
                            <div class="progress--labels d-flex align-items-center justify-content-between">
                                <h5 class="mb-0 font-12 fw-semibold text-black">{{ item.subjectName }}</h5>
                                <div class="d-flex align-items-center gap-2">
                                    <h6 class="mb-0 font-14 fw-bold clr--111827">{{ item.currentValue }}%</h6>
                                    <p class="mb-0 font-11 fw-normal clr--64748B">School: {{ item.schoolValue }}%</p>
                                    <img src="images/{{ item.indicatorImg }}-arrow.svg" alt="icon" class="img-fluid">
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" [style.background]="item.color" [style.width.%]="item.currentValue">
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <div class="card p-3 p-sm-4 d-flex flex-column mb-0">
                <div class="d-flex flex-sm-row flex-column justify-content-sm-between align-items-sm-center gap-1 mb-4">
                    <div class="d-flex flex-column gap-1">
                        <h5 class="font-15 text-black fw-semibold mb-0">Students Requiring Intervention</h5>
                        <p class="clr--64748B font-13 fw-normal mb-0">AI-selected based on predicted performance, growth decline, skill gaps & attendance signals</p>
                    </div>
                    <button type="button" class="btn btn-lg btn-outline-primary text-black">
                        View All
                        <mat-icon class="text-black me-0" fontSet="material-icons-outlined">keyboard_arrow_right</mat-icon>
                    </button>
                </div>
                <div class="col-12 mb-4">
                    <div class="d-flex flex-wrap justify-content-between align-items-center gap-2 ai-summary-section">
                        <div class="d-flex align-items-start gap-2">
                            <img src="images/ai-summary-purple.svg" alt="" class="img-fluid">
                            <div class="d-flex flex-column">
                                <p class="font-14 fw-bold mb-0">AI Summary</p>
                                <p class="font-12 fw-normal mb-0 text-black">5 students need immediate support, 3 are declining in math due to foundational skill gaps.</p>
                                <p class="font-12 fw-normal mb-0 text-black">2 students are at risk due to attendance impact and inconsistent performance.</p>
                            </div>
                        </div>
                        <button type="button" class="btn btn-lg btn-primary ai-button">
                            <mat-icon fontSet="material-icons-outlined" class="me-1">flare</mat-icon>
                            Generate AI Summary
                        </button>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2">
                    <div class="student-info-card">
                        <div class="row d-flex align-items-center">
                            <div class="col-12 col-md-3">
                                <div class="d-flex align-items-center gap-2 profile-round-wrapper">
                                    <div class="profile-round flex-shrink-0 d-flex align-items-center justify-content-center font-14 fw-semibold">E</div>
                                    <div class="d-flex flex-column gap-1">
                                        <h3 class="font-13 fw-semibold text-black mb-0">Emma Johnson</h3>
                                        <p class="font-11 fw-normal clr--64748B mb-0">Math</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-5">
                                <div class="d-flex flex-wrap align-items-center prediction-wrapper">
                                    <div class="d-flex flex-column gap-1">
                                        <h3 class="font-9 clr--64748B fw-normal mb-0">Predicted Scale Score</h3>
                                        <p class="font-13 text-black fw-semibold mb-0">684</p>
                                    </div>
                                    <div class="d-flex flex-column align-items-center gap-1 level-box">
                                        <p class="font-12 fw-semibold mb-0 clr--BE123C">Level 2</p>
                                        <p class="font-9 fw-semibold mb-0 clr--BE123C">Needs Support</p>
                                    </div>
                                    <div class="d-flex flex-column align-items-center gap-1">
                                        <img src="images/declining-red.svg" alt="" class="img-fluid">
                                        <p class="font-12 clr--0F1729 fw-normal mb-0">Declining</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="d-flex flex-column gap-2">
                                     <div class="d-flex align-items-center gap-2 profile-round-wrapper">
                                        <div class="profile-round red-bg flex-shrink-0 d-flex align-items-center justify-content-center">
                                            <img src="images/step-red.svg" alt="" class="img-fluid">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h3 class="font-10 fw-semibold text-black mb-0">Fractions & Decimals: <span class="clr--BE123C fw-semibold">58%</span> <span class="clr--64748B fw-normal">(Target 75%)</span></h3>
                                            <p class="font-9 fw-normal clr--64748B mb-0">Struggling with fraction equivalent and operations</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center gap-2 profile-round-wrapper">
                                        <div class="profile-round red-bg flex-shrink-0 d-flex align-items-center justify-content-center">
                                            <img src="images/calender-red.svg" alt="" class="img-fluid">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h3 class="font-10 fw-semibold text-black mb-0">Performance declined 11 points over last 2 assesments</h3>
                                            <p class="font-9 fw-normal clr--64748B mb-0">Homework completion rate is 62%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="student-info-card">
                        <div class="row d-flex align-items-center">
                            <div class="col-12 col-md-3">
                                <div class="d-flex align-items-center gap-2 profile-round-wrapper">
                                    <div class="profile-round flex-shrink-0 d-flex align-items-center justify-content-center font-14 fw-semibold">E</div>
                                    <div class="d-flex flex-column gap-1">
                                        <h3 class="font-13 fw-semibold text-black mb-0">Marcus Lee</h3>
                                        <p class="font-11 fw-normal clr--64748B mb-0">ELA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-5">
                                <div class="d-flex flex-wrap align-items-center prediction-wrapper">
                                    <div class="d-flex flex-column gap-1">
                                        <h3 class="font-9 clr--64748B fw-normal mb-0">Predicted Scale Score</h3>
                                        <p class="font-13 text-black fw-semibold mb-0">684</p>
                                    </div>
                                    <div class="d-flex flex-column align-items-center gap-1 level-box">
                                        <p class="font-12 fw-semibold mb-0 clr--BE123C">Level 2</p>
                                        <p class="font-9 fw-semibold mb-0 clr--BE123C">Needs Support</p>
                                    </div>
                                    <div class="d-flex flex-column align-items-center gap-1">
                                        <img src="images/declining-red.svg" alt="" class="img-fluid">
                                        <p class="font-12 clr--0F1729 fw-normal mb-0">Declining</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="d-flex flex-column gap-2">
                                     <div class="d-flex align-items-center gap-2 profile-round-wrapper">
                                        <div class="profile-round green-bg flex-shrink-0 d-flex align-items-center justify-content-center">
                                            <img src="images/step-green.svg" alt="" class="img-fluid">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h3 class="font-10 fw-semibold text-black mb-0">Strong growth! +18 points since last benchmark</h3>
                                            <p class="font-9 fw-normal clr--64748B mb-0">Comprehension and inferred meaning are strengths</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center gap-2 profile-round-wrapper">
                                        <div class="profile-round green-bg flex-shrink-0 d-flex align-items-center justify-content-center">
                                            <img src="images/calender-green.svg" alt="" class="img-fluid">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h3 class="font-10 fw-semibold text-black mb-0">Attendance inconsistent: 78% over last 4 weeks</h3>
                                            <p class="font-9 fw-normal clr--64748B mb-0">Monitor attendance to maintain growth</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="student-info-card">
                        <div class="row d-flex align-items-center">
                            <div class="col-12 col-md-3">
                                <div class="d-flex align-items-center gap-2 profile-round-wrapper">
                                    <div class="profile-round flex-shrink-0 d-flex align-items-center justify-content-center font-14 fw-semibold">E</div>
                                    <div class="d-flex flex-column gap-1">
                                        <h3 class="font-13 fw-semibold text-black mb-0">Emma Johnson</h3>
                                        <p class="font-11 fw-normal clr--64748B mb-0">Math</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-5">
                                <div class="d-flex flex-wrap align-items-center prediction-wrapper">
                                    <div class="d-flex flex-column gap-1">
                                        <h3 class="font-9 clr--64748B fw-normal mb-0">Predicted Scale Score</h3>
                                        <p class="font-13 text-black fw-semibold mb-0">684</p>
                                    </div>
                                    <div class="d-flex flex-column align-items-center gap-1 level-box">
                                        <p class="font-12 fw-semibold mb-0 clr--BE123C">Level 2</p>
                                        <p class="font-9 fw-semibold mb-0 clr--BE123C">Needs Support</p>
                                    </div>
                                    <div class="d-flex flex-column align-items-center gap-1">
                                        <img src="images/declining-red.svg" alt="" class="img-fluid">
                                        <p class="font-12 clr--0F1729 fw-normal mb-0">Declining</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="d-flex flex-column gap-2">
                                     <div class="d-flex align-items-center gap-2 profile-round-wrapper">
                                        <div class="profile-round red-bg flex-shrink-0 d-flex align-items-center justify-content-center">
                                            <img src="images/step-red.svg" alt="" class="img-fluid">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h3 class="font-10 fw-semibold text-black mb-0">Fractions & Decimals: <span class="clr--BE123C fw-semibold">58%</span> <span class="clr--64748B fw-normal">(Target 75%)</span></h3>
                                            <p class="font-9 fw-normal clr--64748B mb-0">Struggling with fraction equivalent and operations</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center gap-2 profile-round-wrapper">
                                        <div class="profile-round red-bg flex-shrink-0 d-flex align-items-center justify-content-center">
                                            <img src="images/calender-red.svg" alt="" class="img-fluid">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h3 class="font-10 fw-semibold text-black mb-0">Performance declined 11 points over last 2 assesments</h3>
                                            <p class="font-9 fw-normal clr--64748B mb-0">Homework completion rate is 62%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="student-info-card">
                        <div class="row d-flex align-items-center">
                            <div class="col-12 col-md-3">
                                <div class="d-flex align-items-center gap-2 profile-round-wrapper">
                                    <div class="profile-round flex-shrink-0 d-flex align-items-center justify-content-center font-14 fw-semibold">E</div>
                                    <div class="d-flex flex-column gap-1">
                                        <h3 class="font-13 fw-semibold text-black mb-0">Marcus Lee</h3>
                                        <p class="font-11 fw-normal clr--64748B mb-0">ELA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-5">
                                <div class="d-flex flex-wrap align-items-center prediction-wrapper">
                                    <div class="d-flex flex-column gap-1">
                                        <h3 class="font-9 clr--64748B fw-normal mb-0">Predicted Scale Score</h3>
                                        <p class="font-13 text-black fw-semibold mb-0">684</p>
                                    </div>
                                    <div class="d-flex flex-column align-items-center gap-1 level-box">
                                        <p class="font-12 fw-semibold mb-0 clr--BE123C">Level 2</p>
                                        <p class="font-9 fw-semibold mb-0 clr--BE123C">Needs Support</p>
                                    </div>
                                    <div class="d-flex flex-column align-items-center gap-1">
                                        <img src="images/declining-red.svg" alt="" class="img-fluid">
                                        <p class="font-12 clr--0F1729 fw-normal mb-0">Declining</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="d-flex flex-column gap-2">
                                     <div class="d-flex align-items-center gap-2 profile-round-wrapper">
                                        <div class="profile-round green-bg flex-shrink-0 d-flex align-items-center justify-content-center">
                                            <img src="images/step-green.svg" alt="" class="img-fluid">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h3 class="font-10 fw-semibold text-black mb-0">Strong growth! +18 points since last benchmark</h3>
                                            <p class="font-9 fw-normal clr--64748B mb-0">Comprehension and inferred meaning are strengths</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center gap-2 profile-round-wrapper">
                                        <div class="profile-round green-bg flex-shrink-0 d-flex align-items-center justify-content-center">
                                            <img src="images/calender-green.svg" alt="" class="img-fluid">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h3 class="font-10 fw-semibold text-black mb-0">Attendance inconsistent: 78% over last 4 weeks</h3>
                                            <p class="font-9 fw-normal clr--64748B mb-0">Monitor attendance to maintain growth</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 achievement-band-section">
            <div class="card p-3 p-sm-4 d-flex flex-column mb-0">
                <div class="d-flex justify-content-between align-items-center gap-1">
                    <h5 class="font-15 text-secondary fw-semibold mb-0">Student Performance</h5>
                    <div class="d-flex flex-shrink-0">
                        <button type="button" class="btn btn-md btn-outline-primary" (click)="toggleFilters()">
                            <img src="images/filters-icon.svg" alt="icon" class="img-fluid">
                        </button>
                    </div>
                </div>
                <div class="col-12 filters-section" *ngIf="showFilters">
                    <div class="card d-flex flex-column gap-3">
                        <div class="d-flex flex-wrap gap-3 align-items-center">
                            <div class="d-flex align-items-center gap-2">
                            <img src="images/filters-icon.svg" alt="icon" class="img-fluid">
                            <p class="clr--64748B font-13 fw-semibold mb-0">Filters:</p>
                            </div>
                            <mat-form-field appearance="outline" class="dd--sm sm--width">
                            <mat-select placeholder="Grade Level" [(value)]="selectedFilters.grade"
                                (selectionChange)="updateActiveFilters()">
                                <mat-option *ngFor="let grade of gradeOptions" [value]="grade">
                                {{ grade }}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="dd--sm sm--width">
                            <mat-select placeholder="All Subjects" [(value)]="selectedFilters.subject"
                                (selectionChange)="updateActiveFilters()">
                                <mat-option *ngFor="let subject of subjectOptions" [value]="subject">
                                {{ subject }}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                            <button type="button" class="btn btn-sm btn-primary flex-shrink-0" (click)="resetFilters()">
                            Reset Filters
                            </button>
                        </div>
                        <div class="divider-line"></div>
                        <div class="d-flex flex-wrap align-items-center gap-2">
                            <p class="clr--64748B font-13 fw-semibold mb-0">Active Filters:</p>
                            <ng-container *ngFor="let filter of activeFilters">
                                <div class="active-filter-chip">
                                    <span class="chip-label font-12 fw-semibold">
                                        {{ filter.label }}:
                                    </span>

                                    <span class="chip-value font-13 fw-semibold">
                                        {{ filter.value }}
                                    </span>

                                    <mat-icon
                                        class="chip-close"
                                        fontSet="material-icons-outlined"
                                        (click)="removeFilter(filter.key)">
                                        close
                                    </mat-icon>
                                </div>
                            <!-- <div class="active-filter-chip">
                                <span class="chip-label font-12 fw-semibold">Sorted by:</span>
                                <span class="chip-value font-13 fw-semibold">ACH</span>
                                <mat-icon class="chip-close" fontSet="material-icons-outlined">
                                close
                                </mat-icon>
                            </div> -->
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="table-responsive achievement-band-distribution-table">
                    <table class="table table-custom table-centered m-0">
                    <thead class="thead-sm">
                        <tr class="text-uppercase">
                            <th>Student Name</th>
                            <th class="text-center">Grade</th>
                            <th class="text-center">Core Teacher</th>
                            <th class="text-center">Course Title</th>
                            <th class="text-center">Period</th>
                            <th class="text-center">Predicted SS</th>
                            <th class="text-center">SS Need for ACH</th>
                            <th class="text-center">SS Need for LG</th>
                            <th class="text-center">Last Assessment</th>
                            <th class="text-center">Assessment Name</th>
                            <th class="text-center">Pt/Student ACH</th>
                            <th class="text-center">Pt/Student LG</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of dataAchievement">
                            <td class="clr--111827 fw-semibold">{{ row.studentName }}</td>
                            <td class="clr--4755 fw-normal text-center">{{ row.grade }}</td>
                            <td class="clr--4755 fw-normal text-center">{{ row.coreTeacher }}</td>
                            <td class="text-black fw-normal text-center">{{ row.courseTitle }}</td>
                            <td class="clr--4755 fw-normal text-center">{{ row.period }}</td>
                            <td class="clr--0D2A7C fw-semibold text-center">{{ row.predictedSS }}</td>
                            <td class="text-center">
                                <div class="bg-highlight" [ngClass]="getStatusClass(row.ssAch)">
                                    {{ row.ssAch }}
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="bg-highlight" [ngClass]="getStatusClass(row.ssLG)">
                                    {{ row.ssLG }}
                                </div>
                            </td>
                            <td class="clr--4755 fw-normal text-center">{{ row.lastAssessment }}</td>
                            <td class="clr--4755 fw-normal text-center">{{ row.assessmentName }}</td>
                            <td class="clr--0D2A7C fw-semibold text-center">{{ row.ptStudentAch }}</td>
                            <td class="fw-semibold text-center" [ngClass]="getPtClass(row.ptStudentLG)">{{ row.ptStudentLG }}</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>