<h2 mat-dialog-title>
  {{ data.title }}
  <button matIconButton class="close--btn" mat-dialog-close>
     <mat-icon>close_small</mat-icon>
   </button>
</h2> 

<mat-dialog-content>
  <p>{{ data.message }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end"> 
    @if (data.button3) {
       <button type="button" class="btn btn-light m-1" (click)="close()"> {{ data.button3 }}</button> 
    }
    @if (data.button2) {
        <button type="button" class="btn btn-primary m-2" (click)="close()"> {{ data.button2 }}</button>
    } 
    @if (data.button1) {
       <button type="button" class="btn btn-primary m-1" (click)="close()"> {{ data.button1 }}</button> 
    } 
    
</mat-dialog-actions>
