<h2 mat-dialog-title>
  {{ data.title }}
  <button matIconButton class="close--btn" mat-dialog-close>
     <mat-icon>close_small</mat-icon>
   </button>
</h2> 

<mat-dialog-content>
  <p>{{ data.message }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end"> 
    @if (data.button3) { 
       <button type="button" class="btn btn-md btn-outline-primary m-1"  mat-dialog-close>
         <mat-icon class="text-white" fontSet="material-icons-outlined">close</mat-icon>
         {{ data.button3 }}
      </button>
    }
    @if (data.button2) { 
         <button type="button" class="btn btn-md btn-primary m-1"  mat-dialog-close>
         <mat-icon class="text-white" fontSet="material-icons-outlined">check</mat-icon>
        {{ data.button2 }}
      </button>
    } 
    @if (data.button1) { 
       <button type="button" class="btn btn-md btn-primary m-1"  mat-dialog-close>
         <mat-icon class="text-white" fontSet="material-icons-outlined">check</mat-icon>
        {{ data.button1 }}
      </button>
    } 
    
</mat-dialog-actions>
