.slist--wrapper{ 
    .grades,
    .gpa{
        width: 130px;
    }
    .status{
        width: 140px;
    }
    .student--cards{
        .card {
            flex: 0 0 100%;
        }
    }
    .student--strip{
        border-radius: 6px;
        border: 1px solid #E5E5E5;
        background: #EFF6FF;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        padding: 9px 16px;
        p{color: #0D2A7C;}
        a{
            .mat-icon{
                color: #7d90bd;
                font-size: 18px;
                width: 18px;
                height: 18px;
            }
        }
    }
    .badge{
        border-radius: 6px; 
        font-size: 11px;
        font-weight: 600;
        padding: 6px 12px; 
        display: flex;
        align-items: center;
        justify-content: center; 
        &.good,
        &.satisfactory,
        &.excellent{
            background-color: #dbeafe;
            color: #1d4ed8;
        }
        &.atrisk{
            background-color: #bfdbfe;
            color: #1E40AF;
        }
        &.monitoring{
            background-color: #e3e9f2;
            color: #0D2A7C;
        }
    }
      
}

@media (max-width: 767px) {
    body .head--sec h4{
        font-size: 1.2rem;
    } 
    .w-sm-100,
    .slist--wrapper .grades, 
    .slist--wrapper .gpa,
    .slist--wrapper .status {
        width: 100%;
    } 
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    body .head--sec h4{
        font-size: 1.2rem;
    } 
}


/* SM → 2 per row */
@media (min-width: 576px) {
  .slist--wrapper .student--cards .card{
    flex: 0 0 calc(50% - 8px);
  }
}

/* LG → 3 per row */
@media (min-width: 992px) {
  .slist--wrapper .student--cards .card {
    flex: 0 0 calc(33.33% - 11px);
  }
}

/* XL → 4 per row */
@media (min-width: 1200px) {
  .slist--wrapper .student--cards .card {
    flex: 0 0 calc(25% - 12px);
  }
}

@media only screen 
  and (width: 667px) 
  and (height: 375px) {
    .flex-c-sm{
        flex-direction: column !important;
    }
}