.profile--wrapper{
    .head--sec{
        h4{
            font-size: 1.83125rem;
        }
        p{
            font-size: 0.94375rem;
            color: #64748B;
        }
    }
}

@media (max-width: 768px) {
  
}