<div class="container-fluid p-0 sd--wrapper" data-aos="fade-up" data-aos-duration="500">
    <div class="row">
        <div class="col-12 performance--summary-section">
            <div class="card p-3 p-sm-4 d-flex flex-column">
                <div class="d-flex flex-md-row flex-column align-items-md-center justify-content-md-between gap-3">
                    <div class="d-flex flex-column header-section">
                        <div class="d-flex flex-column">
                            <h2 class="main-title fw-bold">Franklin High School Performance Summary</h2>
                            <p class="second-title font-16 fw-normal"><i>Real-time analytics across school serving 2000 students</i></p>
                        </div>
                        <div class="d-flex flex-wrap align-items-sm-center total-students-section gap-3">
                            <div class="backdrop-card d-flex">
                                <div class="card py-2 d-flex flex-row align-items-center gap-2 mb-0">
                                    <img src="images/total-users-orange.svg" alt="icon" class="img-fluid">
                                    <p class="second-title font-13 fw-normal mb-0">2000 Students</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-sm-row flex-column align-items-sm-center total-performance-section">
                        <div class="d-flex score-wrapper">
                            <div  class="d-flex flex-column align-items-center gap-2 score-card" *ngFor="let item of scoreData; let i = index">

                                <div class="score-ring">

                                <svg viewBox="0 0 120 120">

                                    <circle
                                    class="score-ring-track"
                                    cx="60"
                                    cy="60"
                                    r="50">
                                    </circle>

                                    <circle
                                    class="score-ring-progress"
                                    cx="60"
                                    cy="60"
                                    r="50"
                                    [attr.stroke]="item.color"
                                    [style.--progress]="item.progress"
                                    [style.animation-delay]="(i * 0.5) + 's'">
                                    </circle>

                                </svg>

                                <div class="score-ring-inner">
                                    <h2>{{ item.displayScore }}</h2>
                                    <span>Points</span>
                                </div>
                                </div>
                                <div class="score-label">
                                {{ item.label }}
                                </div>
                            </div>
                        </div>
                        <div class="backdrop-card d-flex">
                            <div class="card d-flex flex-column gap-2 mb-0">
                                <p class="clr--BFD fw-normal font-11 mb-0">PREDICTED TOTAL PERFORMANCE</p>
                                <h2 class="main-title fw-bold mb-0">
                                    <span>{{ displayPercentage | number:'1.1-1' }}%</span>
                                    <span class="show-grade" *ngIf="showGrade">
                                        {{ grade }}
                                    </span>
                                </h2>
                                <div class="d-flex gap-2">
                                    <p class="clr--BFD fw-normal font-11 mb-0">500 PTS</p>
                                    <div class="d-flex align-items-center justify-content-center predicted-performance-label clr--BFD fw-normal font-11">
                                    -50</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider-line"></div>
                <div class="d-flex align-items-center gap-2">
                    <button class="arr--btn" *ngIf="isScrollable && showPrev" (click)="scrollLeft()">
                        <mat-icon>arrow_back_ios</mat-icon>
                    </button>
                    <div class="d-flex flex-row align-items-stretch section-slider" #scrollContainer (scroll)="checkScroll()">
                        <div class="backdrop-card d-flex flex-shrink-0 scroll-item">
                            <div class="card d-flex flex-column align-items-center gap-2 mb-0">
                                <p class="clr--BFD fw-normal font-11 mb-0">ELA</p>
                                <div class="d-flex flex-row gap-1">
                                    <div class="d-flex flex-column align-items-center gap-1">
                                        <p class="text-white font-9 fw-normal mb-0">ACH</p>
                                        <p class="clr--90C9 font-13 fw-bold mb-0">40%</p>
                                        <div class="d-flex flex-column align-items-center inner-section-box">
                                            <p class="clr--BFD font-10 fw-normal mb-0">PY: 42%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Goal: 47%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Pred: 44%</p>
                                        </div>
                                    </div>
                                    <div class="inner-divider-line"></div>
                                    <div class="d-flex flex-column align-items-center gap-1">
                                        <p class="text-white font-9 fw-normal mb-0">LG</p>
                                        <p class="clr--EA914 font-13 fw-bold mb-0">33%</p>
                                        <div class="d-flex flex-column align-items-center inner-section-box">
                                            <p class="clr--BFD font-10 fw-normal mb-0">PY: 38%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Goal: 45%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Pred: 40%</p>
                                        </div>
                                    </div>
                                    <div class="inner-divider-line"></div>
                                    <div class="d-flex flex-column align-items-center gap-1">
                                        <p class="text-white font-9 fw-normal mb-0">BQ</p>
                                        <p class="clr--D64550 font-13 fw-bold mb-0">34%</p>
                                        <div class="d-flex flex-column align-items-center inner-section-box">
                                            <p class="clr--BFD font-10 fw-normal mb-0">PY: 38%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Goal: 45%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Pred: 40%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="backdrop-card d-flex flex-shrink-0 scroll-item">
                            <div class="card d-flex flex-column align-items-center gap-2 mb-0">
                                <p class="clr--BFD fw-normal font-11 mb-0">MATH</p>
                                <div class="d-flex flex-row gap-1">
                                    <div class="d-flex flex-column align-items-center gap-1">
                                        <p class="text-white font-9 fw-normal mb-0">ACH</p>
                                        <p class="clr--90C9 font-13 fw-bold mb-0">44%</p>
                                        <div class="d-flex flex-column align-items-center inner-section-box">
                                            <p class="clr--BFD font-10 fw-normal mb-0">PY: 42%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Goal: 47%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Pred: 44%</p>
                                        </div>
                                    </div>
                                    <div class="inner-divider-line"></div>
                                    <div class="d-flex flex-column align-items-center gap-1">
                                        <p class="text-white font-9 fw-normal mb-0">LG</p>
                                        <p class="clr--EA914 font-13 fw-bold mb-0">37%</p>
                                        <div class="d-flex flex-column align-items-center inner-section-box">
                                            <p class="clr--BFD font-10 fw-normal mb-0">PY: 38%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Goal: 45%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Pred: 40%</p>
                                        </div>
                                    </div>
                                    <div class="inner-divider-line"></div>
                                    <div class="d-flex flex-column align-items-center gap-1">
                                        <p class="text-white font-9 fw-normal mb-0">BQ</p>
                                        <p class="clr--D64550 font-13 fw-bold mb-0">36%</p>
                                        <div class="d-flex flex-column align-items-center inner-section-box">
                                            <p class="clr--BFD font-10 fw-normal mb-0">PY: 38%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Goal: 45%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Pred: 40%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="backdrop-card d-flex flex-shrink-0 scroll-item">
                            <div class="card d-flex flex-column align-items-center gap-2 mb-0">
                                <p class="clr--BFD fw-normal font-11 mb-0">SCIENCE</p>
                                <div class="d-flex flex-row gap-1">
                                    <div class="d-flex flex-column align-items-center gap-1">
                                        <p class="text-white font-9 fw-normal mb-0">ACH</p>
                                        <p class="clr--90C9 font-13 fw-bold mb-0">44%</p>
                                        <div class="d-flex flex-column align-items-center inner-section-box">
                                            <p class="clr--BFD font-10 fw-normal mb-0">PY: 42%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Goal: 47%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Pred: 44%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="backdrop-card d-flex flex-shrink-0 scroll-item">
                            <div class="card d-flex flex-column align-items-center gap-2 mb-0">
                                <p class="clr--BFD fw-normal font-11 mb-0">SS</p>
                                <div class="d-flex flex-row gap-1">
                                    <div class="d-flex flex-column align-items-center gap-1">
                                        <p class="text-white font-9 fw-normal mb-0">ACH</p>
                                        <p class="clr--90C9 font-13 fw-bold mb-0">44%</p>
                                        <div class="d-flex flex-column align-items-center inner-section-box">
                                            <p class="clr--BFD font-10 fw-normal mb-0">PY: 42%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Goal: 47%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Pred: 44%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="backdrop-card d-flex flex-shrink-0 scroll-item">
                            <div class="card d-flex flex-column align-items-center gap-2 mb-0">
                                <p class="clr--BFD fw-normal font-11 mb-0">HS CCA</p>
                                <div class="d-flex flex-row gap-1">
                                    <div class="d-flex flex-column align-items-center gap-1">
                                        <p class="text-white font-9 fw-normal mb-0">ACH</p>
                                        <p class="clr--90C9 font-13 fw-bold mb-0">44%</p>
                                        <div class="d-flex flex-column align-items-center inner-section-box">
                                            <p class="clr--BFD font-10 fw-normal mb-0">PY: 42%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Goal: 47%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Pred: 44%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="backdrop-card d-flex flex-shrink-0 scroll-item">
                            <div class="card d-flex flex-column align-items-center gap-2 mb-0">
                                <p class="clr--BFD fw-normal font-11 mb-0">GRADUATION</p>
                                <div class="d-flex flex-row gap-1">
                                    <div class="d-flex flex-column align-items-center gap-1">
                                        <p class="text-white font-9 fw-normal mb-0">ACH</p>
                                        <p class="clr--90C9 font-13 fw-bold mb-0">44%</p>
                                        <div class="d-flex flex-column align-items-center inner-section-box">
                                            <p class="clr--BFD font-10 fw-normal mb-0">PY: 42%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Goal: 47%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Pred: 44%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="backdrop-card d-flex flex-shrink-0 scroll-item">
                            <div class="card d-flex flex-column align-items-center gap-2 mb-0">
                                <p class="clr--BFD fw-normal font-11 mb-0">ELA 3</p>
                                <div class="d-flex flex-row gap-1">
                                    <div class="d-flex flex-column align-items-center gap-1">
                                        <p class="text-white font-9 fw-normal mb-0">ACH</p>
                                        <p class="clr--90C9 font-13 fw-bold mb-0">44%</p>
                                        <div class="d-flex flex-column align-items-center inner-section-box">
                                            <p class="clr--BFD font-10 fw-normal mb-0">PY: 42%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Goal: 47%</p>
                                            <p class="clr--BFD font-10 fw-normal mb-0">Pred: 44%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="arr--btn" *ngIf="isScrollable && showNext" (click)="scrollRight()">
                        <mat-icon>arrow_forward_ios</mat-icon>
                    </button>
                </div>
                <div class="divider-line"></div>
                <div class="backdrop-card d-flex">
                    <div class="card w-100 d-flex flex-sm-row flex-column flex-wrap gap-2 mb-2">
                        <div class="d-flex align-items-center gap-2 flex-shrink-0">
                            <div class="bottom-notation green-notation"></div>
                            <p class="text-white fw-normal font-10 mb-0">Total Predicted Points: <span class="fw-bold">500</span></p>
                        </div>
                        <div class="d-flex align-items-center gap-2 flex-shrink-0">
                            <div class="bottom-notation yellow-notation"></div>
                            <p class="text-white fw-normal font-10 mb-0">Total Goal Points: <span class="fw-bold">550</span></p>
                        </div>
                        <div class="d-flex align-items-center gap-2 flex-shrink-0">
                            <div class="bottom-notation blue-notation"></div>
                            <p class="text-white fw-normal font-10 mb-0">Over/Under Goal: <span class="fw-bold clr--D64550">-50</span></p>
                        </div>
                        <div class="d-flex align-items-center gap-2 flex-shrink-0">
                            <div class="bottom-notation grey-notation"></div>
                            <p class="text-white fw-normal font-10 mb-0">Components: <span class="fw-bold">12 metrics across 8 areas</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 head--sec d-flex flex-wrap align-items-center justify-content-between gap-3">
            <div class="d-flex flex-column">
                <h4 class="text-secondary fw-bold">Lincoln Elementary School</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-1">
                    <li class="breadcrumb-item"><a routerLink="/principal/dashboard">School</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> ELA</li>
                    </ol>
                </nav>
            </div>
            <div class="d-flex flex-shrink-0">
                <button type="button" class="btn btn-lg btn-outline-primary text-black font-13 mt-2 mt-sm-0">
                <i class="icon icon--download text-black"></i>
                Export Report
                </button>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="d-flex flex-column flex-sm-row gap-2 w-sm-100">
              <mat-form-field appearance="outline" class="gpa">
                <mat-select placeholder="All Year">
                  <mat-option value="1">2024-25</mat-option>
                  <mat-option value="2">2025-26</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="grades">
                <mat-select placeholder="All Grades">
                  <mat-option value="1">Grade 10</mat-option>
                  <mat-option value="2">Grade 11 </mat-option>
                  <mat-option value="2">Grade 12 </mat-option>
                  <mat-option value="2">Grade 13 </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
        <div class="col-12 d-flex flex-wrap gap-3 align-items-center justify-content-between mt-3">
          <h5 class="font-17 text-secondary fw-semibold mb-0">ELA - Summary</h5>
          <mat-form-field appearance="outline" class="grades">
              <mat-select placeholder="All Subjects">
                <mat-option value="1">ELA</mat-option>
                <mat-option value="2">Science</mat-option>
                <mat-option value="2">Maths</mat-option>
                <mat-option value="2">History</mat-option>
              </mat-select>
          </mat-form-field>
      </div>
    </div>
    <div class="row summary-section" #summarySection>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card green-section p-3 p-sm-4 d-flex flex-column">
          <div class="d-flex flex-row align-items-start justify-content-between">
            <div class="d-flex flex-column gap-1">
                <p class="text-muted font-14 fw-semibold mb-0">Ach %</p>
                <h3 class="clr--111827 fw-bold mb-0">{{ ach }}%</h3>
                <span class="clr--9CA3AF font-11 fw-normal">Achievement rate</span>
            </div>
            <div class="side--box--label font-11 fw-semibold mb-0">3rd Rank</div>
          </div>
          <div class="d-flex flex-wrap gap-3">
            <div class="rounded-label-section green d-flex align-items-center gap-1">
                <img src="images/upwards-green.svg" alt="icon" class="img-fluid">
                <p class="font-11 fw-semibold mb-0">+5% Boy</p>
            </div>
            <div class="rounded-label-section green d-flex align-items-center gap-1">
                <img src="images/green-downward-arrow.svg" alt="icon" class="img-fluid">
                <p class="font-11 fw-semibold mb-0">-2% Bubble ACH</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card orange-section p-3 p-sm-4 d-flex flex-column">
          <div class="d-flex flex-row align-items-start justify-content-between">
            <div class="d-flex flex-column gap-1">
                <p class="text-muted font-14 fw-semibold mb-0">LG %</p>
                <h3 class="clr--111827 fw-bold mb-0">{{ lg }}%</h3>
                <span class="clr--9CA3AF font-11 fw-normal">Learning gains</span>
            </div>
            <div class="d-flex align-items-center justify-content-center side--box--label flex-shrink-0">
                <p class="font-11 fw-semibold mb-0">3rd Rank</p>
            </div>
          </div>
          <div class="d-flex flex-wrap gap-3">
            <div class="rounded-label-section orange d-flex align-items-center gap-1">
                <img src="images/upwards-orange.svg" alt="icon" class="img-fluid">
                <p class="font-11 fw-semibold mb-0">+4% Boy</p>
            </div>
            <div class="rounded-label-section orange d-flex align-items-center gap-1">
                <img src="images/orange-downward-arrow.svg" alt="icon" class="img-fluid">
                <p class="font-11 fw-semibold mb-0">-2% Bubble LG</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card red-section p-3 p-sm-4 d-flex flex-column">
          <div class="d-flex flex-row align-items-start justify-content-between">
            <div class="d-flex flex-column gap-1">
                <p class="text-muted font-14 fw-semibold mb-0">BQ %</p>
                <h3 class="clr--111827 fw-bold mb-0">{{ bq }}%</h3>
                <span class="clr--9CA3AF font-11 fw-normal">Bottom quartile progress</span>
            </div>
            <div class="d-flex align-items-center justify-content-center side--box--label flex-shrink-0">
                <p class="font-11 fw-semibold mb-0">3rd Rank</p>
            </div>
          </div>
          <div class="d-flex flex-wrap gap-3">
            <div class="rounded-label-section red d-flex align-items-center gap-1">
                <img src="images/upwards-red.svg" alt="icon" class="img-fluid">
                <p class="font-11 fw-semibold mb-0">+6% BoY</p>
            </div>
            <div class="rounded-label-section red d-flex align-items-center gap-1">
                <img src="images/red-downward-arrow.svg" alt="icon" class="img-fluid">
                <p class="font-11 fw-semibold mb-0">-2% Bubble BQ</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card blue-section p-3 p-sm-4 d-flex flex-column">
          <div class="d-flex flex-row align-items-start justify-content-between">
            <div class="d-flex flex-column gap-1">
                <p class="text-muted font-14 fw-semibold mb-0">25 students</p>
                <h3 class="clr--111827 fw-bold mb-0">{{ points.toFixed(1) }}</h3>
                <span class="clr--9CA3AF font-11 fw-normal">points per student earned</span>
            </div>
            <div class="d-flex align-items-center justify-content-center side--box flex-shrink-0">
                <img src="images/ep-data-line.svg" alt="icon" class="img-fluid">
            </div>
          </div>
          <div class="rounded-label-section blue d-flex align-items-center gap-1">
              <p class="font-11 fw-semibold mb-0">Summary</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex flex-column bottom-outer-section">
      <div class="col-12 filters-section">
        <div class="card p-3 p-sm-4 d-flex flex-column mb-0">
          <h5 class="font-19 text-secondary fw-bold mb-0">ELA - Summary</h5>
          <p class="clr--64748B font-13 fw-normal mb-0">Lincoln Elementary</p>
          <div class="d-flex flex-wrap gap-3 align-items-center">
            <div class="d-flex align-items-center gap-2">
              <img src="images/filters-icon.svg" alt="icon" class="img-fluid">
              <p class="clr--64748B font-13 fw-semibold mb-0">Filters:</p>
            </div>
            <mat-form-field appearance="outline" class="grades">
              <mat-select placeholder="All Grades">
                <mat-option value="1">Grade 10</mat-option>
                <mat-option value="2">Grade 11 </mat-option>
                <mat-option value="2">Grade 12 </mat-option>
                <mat-option value="2">Grade 13 </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="grades">
                <mat-select placeholder="All Teachers">
                  <mat-option value="1">Teacher 1</mat-option>
                  <mat-option value="2">Teacher 2</mat-option>
                  <mat-option value="3">Teacher 3</mat-option>
                  <mat-option value="4">Teacher 4</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex">
        <mat-button-toggle-group [value]="viewMode()" (change)="viewMode.set($event.value)" class="toggle-container">
          <mat-button-toggle value="achievement">Achievement</mat-button-toggle>
          <mat-button-toggle value="learning">Learning Gains</mat-button-toggle>
          <mat-button-toggle value="quartile">Bottom Quartile</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="row status-section" *ngIf="viewMode() === 'achievement'">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card p-3 p-sm-4 green-card d-flex flex-column mb-0">
            <div class="d-flex gap-2">
              <img src="images/on-track-green.svg" alt="icon" class="img-fluid">
              <p class="clr--90C9 font-15 fw-semibold mb-0">On Track</p>
            </div>
            <h3 class="clr--90C9 fw-bold mb-0">{{ onTrack }}</h3>
            <p class="clr--64748B font-13 fw-normal mb-0">Likely to meet proficiency</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card p-3 p-sm-4 orange-card d-flex flex-column mb-0">
            <div class="d-flex gap-2">
              <img src="images/bubble-orange.svg" alt="icon" class="img-fluid">
              <p class="clr--EA914 font-15 fw-semibold mb-0">Bubble</p>
            </div>
            <h3 class="clr--EA914 fw-bold mb-0">{{ bubble }}</h3>
            <p class="clr--64748B font-13 fw-normal mb-0">Near proficiency threshold</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card p-3 p-sm-4 red-card d-flex flex-column mb-0">
            <div class="d-flex gap-2">
              <img src="images/off-track-red.svg" alt="icon" class="img-fluid">
              <p class="clr--D64550 font-15 fw-semibold mb-0">Off Track</p>
            </div>
            <h3 class="clr--D64550 fw-bold mb-0">{{ offTrack }}</h3>
            <p class="clr--64748B font-13 fw-normal mb-0">Significant intervention needed</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card p-3 p-sm-4 blue-card d-flex flex-column mb-0">
            <div class="d-flex gap-2">
              <img src="images/goal-blue.svg" alt="icon" class="img-fluid">
              <p class="clr--0D2A7C font-15 fw-semibold mb-0">Meet Proficiency Goal</p>
            </div>
            <div class="d-flex align-items-center gap-2">
              <h3 class="clr--0D2A7C fw-bold mb-0">{{ proficiencyGoal }}</h3>
              <p class="clr--0D2A7C font-12 fw-bold mb-0">Students Needed to reach 50%</p>
            </div>
            <p class="clr--64748B font-13 fw-normal mb-0">37 students still needed (Currently at 41%)</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-12 description-section" *ngIf="viewMode() === 'achievement'">
        <div class="card px-3 px-sm-4 blue-card d-flex flex-row flex-wrap align-items-center justify-content-between mb-0 gap-3">
          <p class="clr--0D2A7C font-13 fw-medium mb-0">Meet Proficiency Goal: <span class="fw-bold">260 Students Needed</span> to reach 50% (currently at 41%)</p>
          <div class="d-flex label-box text-white font-13 fw-medium mb-0">
            37 Students still needed
          </div>
        </div>
      </div> -->
      <div class="col-12 filters-section" *ngIf="viewMode() === 'achievement'">
        <div class="card p-3 p-sm-4 d-flex flex-column mb-0">
          <div class="d-flex flex-column gap-1">
            <h5 class="font-15 text-secondary fw-semibold mb-0">Achievement Band Distribution</h5>
            <p class="clr--64748B font-13 fw-normal mb-0">Student distribution across performance levels</p>
          </div>
          <div class="table-responsive achievement-band-distribution-table">
            <table class="table table-custom table-centered m-0">
              <thead class="thead-sm">
                  <tr class="text-uppercase">
                      <th>Student Name</th>
                      <th class="text-center">Grade</th>
                      <th class="text-center">Core Teacher</th>
                      <th class="text-center">Course Title</th>
                      <th class="text-center">Period</th>
                      <th class="text-center">Predicted SS</th>
                      <th class="text-center">SS Need for ACH</th>
                      <th class="text-center">SS Need for LG</th>
                      <th class="text-center">Last Assessment</th>
                      <th class="text-center">Assessment Name</th>
                      <th class="text-center">Pt/Student ACH</th>
                      <th class="text-center">Pt/Student LG</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of dataAchievement">
                    <td class="clr--111827 fw-semibold">{{ row.studentName }}</td>
                    <td class="clr--4755 fw-normal text-center">{{ row.grade }}</td>
                    <td class="clr--4755 fw-normal text-center">{{ row.coreTeacher }}</td>
                    <td class="text-black fw-normal text-center">{{ row.courseTitle }}</td>
                    <td class="clr--4755 fw-normal text-center">{{ row.period }}</td>
                    <td class="clr--0D2A7C fw-semibold text-center">{{ row.predictedSS }}</td>
                    <td class="text-center">
                        <div class="bg-highlight" [ngClass]="getStatusClass(row.ssAch)">
                            {{ row.ssAch }}
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="bg-highlight" [ngClass]="getStatusClass(row.ssLG)">
                            {{ row.ssLG }}
                        </div>
                    </td>
                    <td class="clr--4755 fw-normal text-center">{{ row.lastAssessment }}</td>
                    <td class="clr--4755 fw-normal text-center">{{ row.assessmentName }}</td>
                    <td class="clr--0D2A7C fw-semibold text-center">{{ row.ptStudentAch }}</td>
                    <td class="fw-semibold text-center" [ngClass]="getPtClass(row.ptStudentLG)">{{ row.ptStudentLG }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>