.auth--secu--sec{
    .card-header{
        .pp--sec{
            h2{
                font-size: 17px;
            }
        }
    }  
    .card-body{
        .manage--line{
            border-bottom: 1px solid #E2E8F0;
            padding-bottom: 24px;
            margin-bottom: 24px;
        }
        .change--password{
            border-color: #0D2A7C;
            color: #0D2A7C;
        }
    } 
}