/* Abstracts */
@use 'styles/abstracts/variables'; 
@use 'styles/abstracts/breakpoints';

/* Base */
@use 'styles/base/typography';
@use 'styles/base/global';

/* Auth */
@use 'styles/components/authentication';

/* Button */
@use 'styles/components/buttons';

/* Bootstrap */
@use 'bootstrap/scss/bootstrap';

/* Angulr Material */
@use '@angular/material/prebuilt-themes/indigo-pink.css';
 
 
.route--wrapper > * {
  animation: showPageAnim 1000ms ease-out;
} 
@keyframes showPageAnim {
  from {
    opacity: 0;
    transform: translateX(12px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}