<div mat-dialog-title class="font-16">
  <div class="d-flex flex-column">
    <h1 class="m-0 font-16">Change Password</h1>
    <p class="m-0 font-12 fw-normal">Enter your current password and choose a new password</p>
  </div>
  <button matIconButton class="close--btn" mat-dialog-close>
    <mat-icon>close_small</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <p>asc</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button type="button" class="btn btn-md btn-outline-primary m-1" mat-dialog-close>
    <mat-icon class="text-white" fontSet="material-icons-outlined">close</mat-icon>
    Cancel
  </button>
  <button type="button" class="btn btn-md btn-primary m-1" mat-dialog-close>
    <mat-icon class="text-white" fontSet="material-icons-outlined">check</mat-icon>
    Update Password
  </button>

</mat-dialog-actions>
