@use '../abstracts/variables' as v;  

html, body {
  height: 100%;
  margin: 0;
}

a { 
  text-decoration: none !important;
  cursor: pointer;
  color: v.$primary !important;
} 

body{
  ::placeholder { /* Chrome, Firefox, Opera, Safari */
   color: #999;
  } 
  :-ms-input-placeholder { /* Internet Explorer */
    color: #999;
  } 
  ::-ms-input-placeholder { /* Microsoft Edge (old) */
    color: #999;
  }

  .text-primary { color: v.$primary !important; }
  .text-secondary{ color: v.$secondary !important;}
  .text-danger, .text-error { color: v.$error !important;}
  .wb-ba{word-break: break-all !important}
  label{font-size: 13.2px;color: #334155; font-weight: 600;}
  .clr--7373 {color: #737373 !important;}
  .clr--4755 {color: #475569 !important;}
  .clr--1e29 {color: #1E293B !important;}
  .clr--3341 {color: #334155 !important;}
  .clr--111827 {color: #111827 !important;}
  .clr--9CA3AF {color: #9CA3AF !important;}
  .breadcrumb {
    --bs-breadcrumb-divider: '>';
    .breadcrumb-item{
      display: flex;
      align-items: center;
      a{
        font-size: 12px;
        color: #000 !important;
      }
      &.active{
        font-weight: 700;
        font-size: 12px;
        color: #000;
      }
      &::before{
        font-size: 13px;
      }
    }
  }

  .mat-mdc-form-field{ 
      &.dd--sm{
          .mat-mdc-text-field-wrapper{
                  background: transparent;
          }
          .mat-mdc-notch-piece{
                  border-color: #E5E5E5 !important;
          }
          .mat-mdc-form-field-infix{
              padding-top: 3px;
              padding-bottom: 4px; 
              
          }
          .mat-mdc-select-placeholder,
          .mat-mdc-select-value{
              font-size: 11px;
              color: #000; 
          }
      }
      .mat-mdc-form-field-subscript-wrapper,
      .mat-mdc-select-arrow svg{
          display: none;
      }
      .mat-mdc-select-arrow::before {
          content: '';
          display: block;
          width: 10px;
          height: 6px; 
          background: url('../../../public/images/drodown-arrow-black.svg') no-repeat center;
      }
      .mat-mdc-text-field-wrapper{
            background: #F8FAFC;
      }
      .mat-mdc-notch-piece{
            border-color: #E2E8F0 !important;
      }
      .mat-mdc-form-field-infix{
        padding-top: 8px;
        padding-bottom: 8px;
        min-height: unset;
        
      }
      .mat-mdc-select-placeholder,
      .mat-mdc-select-value{
        font-size: 13px;
        color: #000;
        font-family: v.$font-family-base !important; 
      }
      .mat-mdc-select-panel{
        padding: 0;
      }
      .mat-mdc-option{
        min-height: unset;
        padding: 9px 16px;
        font-size: 13px;
        font-family: v.$font-family-base !important;  
        border-bottom: 1px solid #ddd;
        &:hover,
        &.active{
          background-color: #EFF6FF !important;
        }
      }
      .mat-mdc-option.mat-mdc-option-active.mdc-list-item{
        background-color: #EFF6FF !important;
      }
      .mat-mdc-option:focus.mdc-list-item {
        background-color: transparent  !important;
       }
       .mat-pseudo-checkbox-minimal{
          margin-left: 5px;
       }
       .mat-mdc-select-value-text{
        font-weight: 400;
       }
  }

  .icon{
      display: block;
      margin-right: 5px;
  }
  .icon--download{
    width: 16px;
    height: 16px;
    background: url('../../../public/images/download-button-icon.svg') no-repeat center; 
  }
  .icon--upload{
    width: 16px;
    height: 16px;
    background: url('../../../public/images/upload-button-icon.svg') no-repeat center; 
  }
  .icon--user-white{
    width: 14px;
    height: 14px;
    background: url('../../../public/images/user-white.svg') no-repeat center; 
  }
  .icon--view{
    width: 24px;
    height: 24px;
    background: url('../../../public/images/eye-black.svg') no-repeat center; 
  }
  .icon--sso{
    width: 24px;
    height: 24px;
    background: url('../../../public/images/sso.svg') no-repeat center; 
  }
  .icon--clever{
    width: 50px;
    height: 13px;
    background: url('../../../public/images/clever.svg') no-repeat center; 
  }
  .not--record--found{
    border-radius: 6px;
    background: rgba(185, 28, 28, 0.10);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    color: #D64550; 
    font-size: 12.5px;
    font-weight: 700;
    text-align: center;
    padding: 9px;
  }
  
  // Angular Material 
  .mat-internal-form-field>label{
    font-family: v.$font-family-base !important; 
    margin-top: 0.625rem;
    font-size: 1rem; 
    color: v.$secondary;
  }
  .mdc-checkbox__background{
    border: 1px solid #909090 !important;
  }
  .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, 
  .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background{
      border-color:v.$primary !important;
      background-color: v.$primary!important;
  }

  //Search Textbox
  .icon--input--box{
    .form-control{
      border-radius: 6px;
      border: 1px solid #E2E8F0; 
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
    }
    input{
      padding-left: 40px;
    }
    .mat-icon{
      position: absolute;
      left: 10px;
      top: 11px;
      color: #94a3b8;
      font-size: 20px;
      height: 20px;
      width: 20px;
    }
    .icon{
      position: absolute;
      left: 10px;
      top: 12px;
    }
  }

  // Form Controls
  .form-control {
    border-radius: 0.375rem;
    padding: .54rem .875rem;
    border-color: v.$bg-light !important ;
    font-size: 0.875rem;
    &:focus{
      box-shadow: none;
      border-color: #0D2A7C !important;
    }
    &:disabled{
      background: #F8FAFC;
      color: #64748B;
    }
    &.form-control-md{
        padding: .344rem .75rem;
    }
  }

  .dropdown-menu{ 
      li{
          border-bottom: 1px solid #E7E9EB;
          &:first-child{
            .dropdown-item{
              border-top-left-radius: .375rem;
              border-top-right-radius: .375rem;
            }
          }
          &:last-child{
              border: none;
              .dropdown-item{
                border-bottom-left-radius: .375rem;
                border-bottom-right-radius: .375rem;
              } 
          }
          .dropdown-item{
              font-size:  0.9375rem;
              padding: 11px 20px;
              font-weight: 500; 
              .mat-icon{
                  font-size: 1.3rem;
                  height: 1.3rem;
                  width: 1.3rem;
                  margin-right: 0.81rem;
                  color: #0032A0;
              }
          }
      } 
  }

  // Loader
  .loader-dialog{
    .mat-mdc-dialog-surface{
      box-shadow: none;
      background-color: transparent;
    }
  }

  .mat-mdc-checkbox{
    .mat-internal-form-field{
      align-items: flex-start;
    }
  }

  .card{
    border-radius: 0.75rem;
    border: 1px solid #E2E8F0;
    padding: 1.99rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
    .card-header{
      background-color: transparent;
      border-bottom: 0.889px solid #E2E8F0; 
      padding: 0 0 1.5rem 0;
      margin-bottom: 2rem;
      .pp--sec {
        .pp--round{
          display: flex;
          width: 4rem;
          height: 4rem;
          justify-content: center;
          align-items: center; 
          background: #DBEAFE;
          overflow: hidden;
          .mat-icon{
            font-size: 30px;
            width: 30px;
            height: 30px;
          }
        }
        h2{ font-size: 22.9px; }
        p{ font-size: 0.94375rem;color: #64748B;}
      }
      
    }
    .card-body{
      .card-title{
        font-size: 1.08125rem;;
      }
    }
  }
  .icon--password { 
      position: absolute;
      right: 4px;
      top: 4px;
      padding: 0 !important;
      height: 32px !important;
      width: 32px !important;
      .mat-icon{
          color: #505050;
          font-size: 21px;
          height: 21px;
          width: 21px;
      }
  }

  // Modal
  .modal--wrapper{
    .mat-mdc-dialog-surface{
      border-radius: 20px; 
      .mat-mdc-dialog-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        color: #222;
        font-family: v.$font-family-base !important; 
        padding: 18px 55px 18px 24px;
        &::before{
          content: unset;
        }
        .close--btn{
          position: absolute;
          right: 7px;
          top: 7px;
        }
      }
      .mat-mdc-dialog-content{
        font-family: v.$font-family-base !important; 
        color: v.$secondary !important;
      }
      .mat-mdc-dialog-actions{
        padding:10px 24px ;
      }
    }
  }

  // After login header section
  .head--sec{
      h4{
          font-size: 1.83125rem;
          margin: 15px 0 5px 0;
      }
      p{
          font-size: 0.94375rem;
          color: #64748B;
          margin-bottom: 2rem;
      }
  }

  .ready--only{
    border-radius: 6px;
    margin-left: 8px;
    border: 1px solid #E5E5E5;
    background: #F1F5F9;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mat-mdc-tooltip-surface{
    background: #F1F5F9;
    color: #000;
    font-size: 12px; 
    font-family: v.$font-family-base !important; 
    padding: 10px 15px;
  }

  .table-responsive {
     border-radius: 0.375rem;
     border: 1px solid #E5E5E5;

     .table {
         thead {
             tr {
                 th {
                     vertical-align: top;
                     background-color: #F9FAFB;
                     border-bottom: 1px solid #E5E5E5;
                     color: #374151;
                     font-weight: 600;
                     font-size: 0.813rem;
                     padding: 0.563rem 0.5rem;
                     text-transform: capitalize;
                     border: none;
                     &:nth-child(1) {
                      padding: 0.563rem 0.5rem 0.563rem 1.125rem;
                    }
                 }
             }
         }

         tbody {
             tr {
                td {
                  color: #0A0A0A;
                  font-size: 0.813rem;
                  padding: 0.75rem 0.5rem;
                  border: none;
                  border-bottom: 1px solid #E5E5E5;
                  font-weight: 400;
                  &:nth-child(1) {
                    padding: 0.75rem 0.5rem 0.75rem 1.125rem;
                  }
                }
             }
         }
     }
 }

}  

 @media (max-width: 767px) {
  body .mat-internal-form-field > label,
  ::placeholder,
  .form-control,
  .form-label{
    font-size: 0.875rem !important;
  } 
  body .card{
    padding: 1rem;
    margin-bottom: 1rem;
  }
  body .modal--wrapper .mat-mdc-dialog-surface .mat-mdc-dialog-title{
      font-size: 17px; 
      padding: 14px 45px 14px 15px;
  }
  body .card .card-header{
    padding: 0 0 0.5rem;
  }
  body .card .card-header .pp--sec h2 {
      font-size: 1.1rem;
  }
  body .card .card-header .pp--sec p {
      font-size: .8rem;
      color: #64748b;
  }
  body .card .card-body .card-title {
      font-size: 15px;
  }
  body .head--sec h4 {
        font-size: 1.2rem;
    }
  body .head--sec p {
      font-size: .8rem; 
      margin-bottom: 1rem;
  }
  body .card .card-header .pp--sec .pp--round{
      width: 3rem;
      height: 3rem;
  } 
  
 }