@use '../abstracts/variables' as v;  

html, body {
  height: 100%;
  margin: 0;
}

a { 
  text-decoration: none !important;
  cursor: pointer;
  color: v.$primary !important;
} 

body{
  ::placeholder { /* Chrome, Firefox, Opera, Safari */
   color: #999;
  } 
  :-ms-input-placeholder { /* Internet Explorer */
    color: #999;
  } 
  ::-ms-input-placeholder { /* Microsoft Edge (old) */
    color: #999;
  }

  .text-primary { color: v.$primary !important; }
  .text-secondary{ color: v.$secondary !important;}
  .text-danger, .text-error { color: v.$error !important;}
  .wb-ba{word-break: break-all !important}
  label{font-size: 13.2px;color: #334155; font-weight: 600;}
  .clr--7373 {color: #737373 !important;}

  // Angular Material 
  .mat-internal-form-field>label{
    font-family: v.$font-family-base !important; 
    margin-top: 0.625rem;
    font-size: 1rem; 
    color: v.$secondary;
  }
  .mdc-checkbox__background{
    border: 1px solid #909090 !important;
  }
  .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, 
  .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background{
      border-color:v.$primary !important;
      background-color: v.$primary!important;
  }

  //Search Textbox
  .icon--input--box{
    .form-control{
      border-radius: 6px;
      border: 1px solid #E2E8F0; 
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
    }
    input{
      padding-left: 40px;
    }
    .mat-icon{
      position: absolute;
      left: 10px;
      top: 11px;
      color: #94a3b8;
      font-size: 20px;
      height: 20px;
      width: 20px;
    }
  }

  // Form Controls
  .form-control {
    border-radius: 0.375rem;
    padding: .54rem .875rem;
    border-color: v.$bg-light !important ;
    font-size: 0.875rem;
    &:focus{
      box-shadow: none;
      border-color: #0D2A7C !important;
    }
    &:disabled{
      background: #F8FAFC;
      color: #64748B;
    }
  }

  .dropdown-menu{ 
      li{
          border-bottom: 1px solid #E7E9EB;
          &:first-child{
            .dropdown-item{
              border-top-left-radius: .375rem;
              border-top-right-radius: .375rem;
            }
          }
          &:last-child{
              border: none;
              .dropdown-item{
                border-bottom-left-radius: .375rem;
                border-bottom-right-radius: .375rem;
              } 
          }
          .dropdown-item{
              font-size:  0.9375rem;
              padding: 11px 20px;
              font-weight: 500; 
              .mat-icon{
                  font-size: 1.3rem;
                  height: 1.3rem;
                  width: 1.3rem;
                  margin-right: 0.81rem;
                  color: #0032A0;
              }
          }
      } 
  }

  // Loader
  .loader-dialog{
    .mat-mdc-dialog-surface{
      box-shadow: none;
      background-color: transparent;
    }
  }

  .mat-mdc-checkbox{
    .mat-internal-form-field{
      align-items: flex-start;
    }
  }

  .card{
    border-radius: 0.75rem;
    border: 1px solid #E2E8F0;
    padding: 1.99rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
    .card-header{
      background-color: transparent;
      border-bottom: 0.889px solid #E2E8F0; 
      padding: 0 0 1.5rem 0;
      margin-bottom: 2rem;
      .pp--sec {
        .pp--round{
          display: flex;
          width: 4rem;
          height: 4rem;
          justify-content: center;
          align-items: center; 
          background: #DBEAFE;
          overflow: hidden;
          .mat-icon{
            font-size: 30px;
            width: 30px;
            height: 30px;
          }
        }
        h2{ font-size: 22.9px; }
        p{ font-size: 0.94375rem;color: #64748B;}
      }
      
    }
    .card-body{
      .card-title{
        font-size: 1.08125rem;;
      }
    }
  }
  .icon--password { 
      position: absolute;
      right: 4px;
      top: 4px;
      padding: 0 !important;
      height: 32px !important;
      width: 32px !important;
      .mat-icon{
          color: #505050;
          font-size: 21px;
          height: 21px;
          width: 21px;
      }
  }

  // Modal
  .modal--wrapper{
    .mat-mdc-dialog-surface{
      border-radius: 20px; 
      .mat-mdc-dialog-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        color: #222;
        font-family: v.$font-family-base !important; 
        padding: 18px 55px 18px 24px;
        &::before{
          content: unset;
        }
        .close--btn{
          position: absolute;
          right: 7px;
          top: 7px;
        }
      }
      .mat-mdc-dialog-content{
        font-family: v.$font-family-base !important; 
        color: v.$secondary !important;
      }
      .mat-mdc-dialog-actions{
        padding:10px 24px ;
      }
    }
  }

  // After login header section
  .head--sec{
      h4{
          font-size: 1.83125rem;
          margin: 15px 0 5px 0;
      }
      p{
          font-size: 0.94375rem;
          color: #64748B;
          margin-bottom: 2rem;
      }
  }

}  

 @media (max-width: 767px) {
  body .mat-internal-form-field > label,
  ::placeholder,
  .form-control,
  .form-label{
    font-size: 0.875rem !important;
  } 
  body .card{
    padding: 1rem;
    margin-bottom: 1rem;
  }
  body .modal--wrapper .mat-mdc-dialog-surface .mat-mdc-dialog-title{
      font-size: 17px; 
      padding: 14px 45px 14px 15px;
  }
  body .card .card-header .pp--sec h2 {
      font-size: 1.1rem;
  }
  body .card .card-header .pp--sec p {
      font-size: .8rem;
      color: #64748b;
  }
  body .card .card-body .card-title {
      font-size: 15px;
  }
  body .head--sec h4 {
        font-size: 1.2rem;
    }
  body .head--sec p {
      font-size: .8rem; 
      margin-bottom: 1rem;
  }
  body .card .card-header .pp--sec .pp--round{
      width: 3rem;
      height: 3rem;
  }
  
 }