@use '../abstracts/variables' as v;

body {
  font-family: v.$font-family-base !important; 
  color: v.$secondary !important;
}
.font-9 {font-size: 9px;}
.font-10 {font-size: 10px;}
.font-11 {font-size: 0.70rem;}
.font-12 {font-size: 0.75rem;}
.font-13 {font-size: 0.82rem;}
.font-14 {font-size: 0.875rem;}
.font-15 {font-size: 0.938rem;}
.font-16 {font-size: 1rem;}
.font-17 {font-size: 17px;}
.font-18 {font-size: 18px;}
.font-20 {font-size: 20px;}
.font-21 {font-size: 21px;}
.font-22 {font-size: 22px;}
.font-23 {font-size: 23px;}
.font-24 {font-size: 24px;}
 @media (max-width: 767px) {
  body {
     .font-16{font-size: 0.875rem !important;}
     .font-15 {font-size: 0.81rem !important; }
     .font-13{font-size: 0.75rem !important;}
     .font-9 {font-size: 9px !important}
  }
 }